<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/resources/css/kevin.css" rel="stylesheet">
    <link href="/resources/css/menu.css" rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
    <link rel="icon" href="/resources/img/logo.png">
    <title>Bodega</title>
</head>

<body>
    <header class="sticky top-0 z-10">
        <nav class="sticky top-0 z-10 bg-azul">
            <div class="logo">
                <i class="bx bx-menu menu-icon text-white"></i>
                <span class="logo-name text-white">Import Cars</span>
            </div>
            <div class="sidebar bg-white">
                <div class="logo">
                    <i class="bx bx-menu menu-icon text-black"></i>
                    <span class="logo-name text-black">IMPORT CARS</span>
                </div>
                <div class="sidebar-content">
                    <hr>
                    <ul class="lists">
                        <li class="list">
                            <a href="#" class="nav-link text-gray-600 hover:bg-azul hover:text-white">
                                <i class="bx bx-home-alt icon"></i>
                                <span class="link">Dashboard</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="nav-link text-black text-gray-600 hover:bg-azul hover:text-white">
                                <i class='bx bxl-product-hunt icon'></i>
                                <span class="link">Productos</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="nav-link text-gray-600 hover:bg-azul hover:text-white">
                                <i class='bx bx-bar-chart-alt icon'></i>
                                <span class="link">Procesos</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="nav-link text-gray-600 hover:bg-azul hover:text-white">
                                <i class='bx bxs-report icon'></i>
                                <span class="link">Reportes</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="nav-link text-gray-600 hover:bg-azul hover:text-white">
                                <i class='bx bx-list-plus icon'></i>
                                <span class="link">Consultas</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="nav-link text-gray-600 hover:bg-azul hover:text-white">
                                <i class='bx bxs-briefcase icon'></i>
                                <span class="link">Cierres</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="nav-link text-gray-600 hover:bg-azul hover:text-white">
                                <i class='bx bx-table icon'></i>
                                <span class="link">Tablas</span>
                            </a>
                        </li>
                    </ul>
                    <hr>
                    <div class="bottom-cotent">
                        <li class="list">
                            <a href="#" class="nav-link">
                                <i class="bx bx-cog icon"></i>
                                <span class="link">Configuracion</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="index.html" class="nav-link">
                                <i class="bx bx-log-out icon"></i>
                                <span class="link">Cerrar sesion</span>
                            </a>
                        </li>
                    </div>
                </div>
            </div>
            <div class="absolute inset-y-0 right-0 p-3">
                <img data-tooltip-target="tooltip"
                    class=" w-10 h-10 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500"
                    src="/resources/img/perfil.jpg" alt="Bordered avatar">
            </div>
            <div id="tooltip" role="tooltip"
                class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 border border-azul rounded-lg shadow-sm opacity-0 tooltip">
                Mi perfil
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
        </nav>
    </header>
    <main>
        <div class="py-4">
            <div>
                <div class="py-4 text-center">
                    <h1 class="text-xl text-rojo font-bold">Bodegas</h1>
                    <p class="text-azul font-medium">Gestion de bodega por sucursal.</p>
                </div>
                <div class="grid grid-cols-4 gap-4 py-4">
                    <div class="col-start-2 col-end-4">
                        <form>
                            <label for="default-search"
                                class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Buscar</label>
                            <div class="relative">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none"
                                        stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                                    </svg>
                                </div>
                                <input type="search" id="default-search"
                                    class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="Buscar..." required>
                                <button type="submit"
                                    class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Confirmar</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-end-5">
                        <button data-modal-target="modal_add_winery" data-modal-toggle="modal_add_winery"
                            class="block md:w-auto text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                            type="button">
                            <img src="https://img.icons8.com/ios/30/FFFFFF/add--v1.png" />
                        </button>
                    </div>
                </div>
            </div>
            <div id="modal_add_winery" tabindex="-1"
                class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
                <div class="relative w-full h-full max-w-4xl">
                    <!-- Modal content -->
                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                        <!-- Modal header -->
                        <div class="flex items-center justify-between p-5 border-b rounded-t dark:border-gray-600">
                            <h3 class="text-xl font-bold text-oscuro dark:text-white">
                                Añadir nueva bodega
                            </h3>
                            <button type="button"
                                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                data-modal-hide="modal_add_winery">
                                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                <span class="sr-only">Cerrar ventana</span>
                            </button>
                        </div>
                        <!-- Modal body -->
                        <form class="p-4">         
                                <div class="grid gap-6 mb-6 md:grid-cols-2 md:col-start-2 md:col-end-4">
                                    <!--ID-->
                                    <div>
                                        <label for="id"
                                            class="block mb-2 text-sm font-semibold text-azul dark:text-white">ID</label>
                                        <input type="text" id="id"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                            placeholder="ID" disabled>
                                    </div>
                                    <!--Input nombre de la familia-->
                                    <div>
                                        <label for="nombre"
                                            class="block mb-2 text-sm font-semibold text-azul dark:text-white">Numero de bodega:</label>
                                        <input type="text" id="numero"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                            placeholder="Nombre" required>
                                    </div>
                                    <!--Input familia-->
                                    <div>
                                        <label for="idproveedor"
                                            class="block mb-2 text-sm font-semibold text-azul dark:text-white">familia:</label>
                                        <select id="idfamilia"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                            <option selected>Escoge una familia</option>
                                            <option>Iluminacion frontal</option>
                                            <option>Zona frontal</option>
                                            <option>zona tracera</option>
                                        </select>
                                    </div>
                                </div>
                        </form>
                        <!-- Modal footer -->
                        <div
                            class="text-right items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                            <button data-modal-hide="modal_add_winery" type="button"
                                class="text-white bg-green-800 hover:bg-green-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Añadir</button>
                        </div>
                    </div>
                </div>
            </div><!--Final del modal-->
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr class="text-oscuro font-semibold">
                            <th scope="col" class="px-6 py-3">
                                ID
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Numero de bodega 
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Familia
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-blue-200 dark:hover:bg-gray-600">
                            <td class="px-6 py-4">
                                1
                            </td>
                            <td class="px-6 py-4">
                                1
                            </td>
                            <td class="px-6 py-4">
                                Iluminacion frontal
                            </td>
                            <td class="px-6 py-4">
                                <div class="grid gap-2 m-0">
                                    <div>
                                        <button data-modal-target="modal_update_winery1"
                                            data-modal-toggle="modal_update_winery1"
                                            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                            type="button">
                                            <img src="https://img.icons8.com/ios/30/FFFFFF/synchronize.png" />
                                            <span class="sr-only">Cerrar ventana</span>
                                        </button>
                                    </div>
                                    <div id="modal_update_winery1" tabindex="-1"
                                        class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
                                        <div class="relative w-full h-full max-w-4xl">
                                            <!-- Modal content -->
                                            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                                <!-- Modal header -->
                                                <div
                                                    class="flex items-center justify-between p-5 border-b rounded-t dark:border-gray-600">
                                                    <h3 class="text-xl font-bold text-oscuro dark:text-white">
                                                        Actualizar bodega
                                                    </h3>
                                                    <button type="button"
                                                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                                        data-modal-hide="modal_update_winery1">
                                                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor"
                                                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd"
                                                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                                                clip-rule="evenodd"></path>
                                                        </svg>
                                                        <span class="sr-only">Cerrar ventana</span>
                                                    </button>
                                                </div>
                                                <!-- Modal body -->
                                                <form class="p-4">
                                                    <div class="grid gap-6 mb-6 md:grid-cols-2 md:col-start-2 md:col-end-4">
                                                        <!--ID-->
                                                        <div>
                                                            <label for="id"
                                                                class="block mb-2 text-sm font-semibold text-azul dark:text-white">ID</label>
                                                            <input type="text" id="id"
                                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                                placeholder="ID" disabled>
                                                        </div>
                                                        <!--Input nombre de la familia-->
                                                        <div>
                                                            <label for="nombre"
                                                                class="block mb-2 text-sm font-semibold text-azul dark:text-white">Numero de bodega:</label>
                                                            <input type="text" id="numero"
                                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                                placeholder="Nombre" required>
                                                        </div>
                                                        <!--Input familia-->
                                                        <div>
                                                            <label for="idproveedor"
                                                                class="block mb-2 text-sm font-semibold text-azul dark:text-white">familia:</label>
                                                            <select id="idfamilia"
                                                                class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                                                <option selected>Escoge una familia</option>
                                                                <option>Iluminacion frontal</option>
                                                                <option>Zona frontal</option>
                                                                <option>zona tracera</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </form>
                                                <!-- Modal footer -->
                                                <div
                                                    class="text-right items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                                                    <button data-modal-hide="modal_update_winery1" type="button"
                                                        class="text-white bg-blue-800 hover:bg-blue-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Actualizar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--Final del modal-->
                                    <!--Modal de eliminar-->
                                    <div>
                                        <button data-modal-target="delete-modal1" data-modal-toggle="delete-modal1"
                                            class="md:w-auto text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                            type="button">
                                            <img src="https://img.icons8.com/ios/30/FFFFFF/delete--v1.png" />
                                        </button>
                                    </div>
                                    <div id="delete-modal1" tabindex="-1"
                                        class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
                                        <div class="relative w-full h-full max-w-md md:h-auto">
                                            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                                <button type="button"
                                                    class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
                                                    data-modal-hide="delete-modal1">
                                                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor"
                                                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd"
                                                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                                            clip-rule="evenodd"></path>
                                                    </svg>
                                                    <span class="sr-only">Cerrar</span>
                                                </button>
                                                <div class="p-6 text-center">
                                                    <svg aria-hidden="true"
                                                        class="mx-auto mb-4 text-gray-400 w-14 h-14 dark:text-gray-200"
                                                        fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            stroke-width="2"
                                                            d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                                                        </path>
                                                    </svg>
                                                    <h3
                                                        class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
                                                        ¿Estas seguro que deseas eliminarlo?</h3>
                                                    <button data-modal-hide="delete-modal1" type="button"
                                                        class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                                                        Confirmar
                                                    </button>
                                                    <button data-modal-hide="delete-modal1" type="button"
                                                        class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Cancelar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr
                            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-blue-200 dark:hover:bg-gray-600">
                            <td class="px-6 py-4">
                                2
                            </td>
                            <td class="px-6 py-4">
                                2
                            </td>
                            <td class="px-6 py-4">
                                zona frontal
                            </td>
                            <td class="px-6 py-4">
                                <div class="grid gap-2 m-0">
                                    <div>
                                        <button data-modal-target="modal_update_winery2"
                                            data-modal-toggle="modal_update_winery2"
                                            class="block md:w-auto text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                            type="button">
                                            <img src="https://img.icons8.com/ios/30/FFFFFF/synchronize.png" />
                                        </button>
                                    </div>
                                    <div id="modal_update_winery2" tabindex="-1"
                                        class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
                                        <div class="relative w-full h-full max-w-4xl">
                                            <!-- Modal content -->
                                            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                                <!-- Modal header -->
                                                <div
                                                    class="flex items-center justify-between p-5 border-b rounded-t dark:border-gray-600">
                                                    <h3 class="text-xl font-bold text-oscuro dark:text-white">
                                                        Actualizar Bodega
                                                    </h3>
                                                    <button type="button"
                                                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                                        data-modal-hide="modal_update_winery2">
                                                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor"
                                                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd"
                                                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                                                clip-rule="evenodd"></path>
                                                        </svg>
                                                        <span class="sr-only">Cerrar ventana</span>
                                                    </button>
                                                </div>
                                                <!-- Modal body -->
                                                <form class="p-4">
                                                    <div class="grid gap-6 mb-6 md:grid-cols-2 md:col-start-2 md:col-end-4">
                                                        <!--ID-->
                                                        <div>
                                                            <label for="id"
                                                                class="block mb-2 text-sm font-semibold text-azul dark:text-white">ID</label>
                                                            <input type="text" id="id"
                                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                                placeholder="ID" disabled>
                                                        </div>
                                                        <!--Input nombre de la familia-->
                                                        <div>
                                                            <label for="nombre"
                                                                class="block mb-2 text-sm font-semibold text-azul dark:text-white">Numero de bodega:</label>
                                                            <input type="text" id="numero"
                                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                                placeholder="Nombre" required>
                                                        </div>
                                                        <!--Input familia-->
                                                        <div>
                                                            <label for="idproveedor"
                                                                class="block mb-2 text-sm font-semibold text-azul dark:text-white">familia:</label>
                                                            <select id="idfamilia"
                                                                class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                                                <option selected>Escoge una familia</option>
                                                                <option>Iluminacion frontal</option>
                                                                <option>Zona frontal</option>
                                                                <option>zona tracera</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </form>
                                                <!-- Modal footer -->
                                                <div
                                                    class="text-right items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                                                    <button data-modal-hide="modal_update_winery2" type="button"
                                                        class="text-white bg-blue-800 hover:bg-blue-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Actualizar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--Final del modal-->
                                    <!--Modal de eliminar-->
                                    <div>
                                        <button data-modal-target="delete-modal2" data-modal-toggle="delete-modal2"
                                            class="block md:w-auto text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                            type="button">
                                            <img src="https://img.icons8.com/ios/30/FFFFFF/delete--v1.png" />
                                        </button>
                                    </div>
                                    <div id="delete-modal2" tabindex="-1"
                                        class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
                                        <div class="relative w-full h-full max-w-md md:h-auto">
                                            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                                <button type="button"
                                                    class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
                                                    data-modal-hide="delete-modal2">
                                                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor"
                                                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd"
                                                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                                            clip-rule="evenodd"></path>
                                                    </svg>
                                                    <span class="sr-only">Cerrar</span>
                                                </button>
                                                <div class="p-6 text-center">
                                                    <svg aria-hidden="true"
                                                        class="mx-auto mb-4 text-gray-400 w-14 h-14 dark:text-gray-200"
                                                        fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            stroke-width="2"
                                                            d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                                                        </path>
                                                    </svg>
                                                    <h3
                                                        class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
                                                        ¿Estas seguro que deseas eliminarlo?</h3>
                                                    <button data-modal-hide="delete-modal2" type="button"
                                                        class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                                                        Confirmar
                                                    </button>
                                                    <button data-modal-hide="delete-modal2" type="button"
                                                        class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Cancelar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="bg-white dark:bg-gray-800 hover:bg-blue-200 dark:hover:bg-gray-600">
                            <td class="px-6 py-4">
                                3
                            </td>
                            <td class="px-6 py-4">
                                3
                            </td>
                            <td class="px-6 py-4">
                                zona tracera
                            </td>
                            <td class="px-6 py-4">
                                <div class="grid gap-2">
                                    <div>
                                        <button data-modal-target="modal_update_winery3"
                                            data-modal-toggle="modal_update_winery3"
                                            class="block  text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                            type="button">
                                            <img src="https://img.icons8.com/ios/30/FFFFFF/synchronize.png" />
                                        </button>
                                    </div>
                                    <div id="modal_update_winery3" tabindex="-1"
                                        class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
                                        <div class="relative w-full h-full max-w-4xl">
                                            <!-- Modal content -->
                                            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                                <!-- Modal header -->
                                                <div
                                                    class="flex items-center justify-between p-5 border-b rounded-t dark:border-gray-600">
                                                    <h3 class="text-xl font-bold text-oscuro dark:text-white">
                                                        Actualizar bodega
                                                    </h3>
                                                    <button type="button"
                                                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                                        data-modal-hide="modal_update_winery3">
                                                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor"
                                                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd"
                                                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                                                clip-rule="evenodd"></path>
                                                        </svg>
                                                        <span class="sr-only">Cerrar ventana</span>
                                                    </button>
                                                </div>
                                                <!-- Modal body -->
                                                <form class="p-4">
                                                    <div class="grid gap-6 mb-6 md:grid-cols-2 md:col-start-2 md:col-end-4">
                                                        <!--ID-->
                                                        <div>
                                                            <label for="id"
                                                                class="block mb-2 text-sm font-semibold text-azul dark:text-white">ID</label>
                                                            <input type="text" id="id"
                                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                                placeholder="ID" disabled>
                                                        </div>
                                                        <!--Input nombre de la familia-->
                                                        <div>
                                                            <label for="nombre"
                                                                class="block mb-2 text-sm font-semibold text-azul dark:text-white">Numero de bodega:</label>
                                                            <input type="text" id="numero"
                                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                                placeholder="Nombre" required>
                                                        </div>
                                                        <!--Input familia-->
                                                        <div>
                                                            <label for="idproveedor"
                                                                class="block mb-2 text-sm font-semibold text-azul dark:text-white">familia:</label>
                                                            <select id="idfamilia"
                                                                class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                                                <option selected>Escoge una familia</option>
                                                                <option>Iluminacion frontal</option>
                                                                <option>Zona frontal</option>
                                                                <option>zona tracera</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </form>
                                                <!-- Modal footer -->
                                                <div
                                                    class="text-right items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                                                    <button data-modal-hide="modal_update_winery3" type="button"
                                                        class="text-white bg-blue-800 hover:bg-blue-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Actualizar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--Final del modal-->
                                    <!--Modal de eliminar-->
                                    <div>
                                        <button data-modal-target="delete-modal3" data-modal-toggle="delete-modal3"
                                            class="block md:w-auto text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                                            type="button">
                                            <img src="https://img.icons8.com/ios/30/FFFFFF/delete--v1.png" />
                                        </button>
                                    </div>
                                    <div id="delete-modal3" tabindex="-1"
                                        class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
                                        <div class="relative w-full h-full max-w-md md:h-auto">
                                            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                                <button type="button"
                                                    class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
                                                    data-modal-hide="delete-modal3">
                                                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor"
                                                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd"
                                                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                                            clip-rule="evenodd"></path>
                                                    </svg>
                                                    <span class="sr-only">Cerrar</span>
                                                </button>
                                                <div class="p-6 text-center">
                                                    <svg aria-hidden="true"
                                                        class="mx-auto mb-4 text-gray-400 w-14 h-14 dark:text-gray-200"
                                                        fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            stroke-width="2"
                                                            d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                                                        </path>
                                                    </svg>
                                                    <h3
                                                        class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
                                                        ¿Estas seguro que deseas eliminarlo?</h3>
                                                    <button data-modal-hide="delete-modal3" type="button"
                                                        class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                                                        Confirmar
                                                    </button>
                                                    <button data-modal-hide="delete-modal3" type="button"
                                                        class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Cancelar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <footer
        class="2xl:sticky bottom-0 left-0 right-0 p-4 bg-azul shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800">
        <img class="h-8" src="/resources/img/logo.png" alt="">
        <ul class="flex flex-wrap items-center mt-3 text-sm text-white dark:text-gray-400 sm:mt-0">
            <li>
                <a href="https://www.instagram.com/dnlhernandez_/" class="mr-4 hover:underline md:mr-6 "
                    target="_blank">About</a>
            </li>
            <li>
                <a href="https://www.instagram.com/dnlhernandez_/" class="mr-4 hover:underline md:mr-6"
                    target="_blank">Privacy Policy</a>
            </li>
            <li>
                <a href="https://www.instagram.com/dnlhernandez_/" class="mr-4 hover:underline md:mr-6"
                    target="_blank">Licensing</a>
            </li>
            <li>
                <a href="https://www.instagram.com/dnlhernandez_/" class="hover:underline" target="_blank">Contact</a>
            </li>
        </ul>
    </footer>
    <!-- Importacion de archivos JavaScript -->
    <script src="/node_modules/flowbite/dist/flowbite.min.js"></script>
    <script src="/resources/JS/menu.js"></script>
</body>

</html>