<!DOCTYPE html>
<html lang="es">

<head>
    <!-- definición del set de carácteres -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- importación de archivos css -->
    <link href="../resources/css/tailwind.css" rel="stylesheet">
    <link href="../resources/css/styles.css" rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
    <!-- icono de la página -->
    <link rel="icon" href="../resources/img/logo.png">
    <!-- titulo de la página -->
    <title>Cambio de clave</title>
</head>

<body class="bg-gray-900">
    <!-- encabezado del sistio -->
    <header></header>
    <!-- contenido del sitio -->
    <main>
        <div class="py-4 container">
            <form class="p-4" method="post" id="ejecutarFormulario">
                <div class="grid gap-6 mb-6 md:grid-cols-2 md:col-start-2 md:col-end-4">
                    <div>
                        <div class="text-center py-4 p-6 space-x-2 rounded-b">
                            <img src="../resources/img/logo.jpg" alt="img">
                            <br>
                        </div>
                    </div>
                    <div>
                        <label for="clave-vieja"
                            class="block mb-2 text-sm font-semibold text-azul dark:text-white">Nueva clave:</label>
                        <input type="text" id="clave-vieja" name="clave-vieja"
                            class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-azul focus:border-azul block w-full p-2.5"
                            placeholder="Ingrese su nueva clave" required>
                    </div>
                    <div>
                        <label for="clave-nueva"
                            class="block mb-2 text-sm font-semibold text-azul dark:text-white">Nueva clave:</label>
                        <input type="text" id="clave-nueva" name="clave-nueva"
                            class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-azul focus:border-azul block w-full p-2.5"
                            placeholder="Ingrese su nueva clave" required>
                    </div>
                    <div>
                        <label for="confirmar-clave"
                            class="block mb-2 text-sm font-semibold text-azul dark:text-white">Confirmar nueva clave:</label>
                        <input type="text" id="confirmar-clave" name="confirmar-clave"
                            class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-azul focus:border-azul block w-full p-2.5"
                            placeholder="Confirme su nueva clave" required>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <!-- pie del sitio -->
    <footer></footer>

    <!-- Importacion de archivos JavaScript -->
    <script type="text/javascript" src="../node_modules/flowbite/dist/flowbite.min.js"></script>
    <script type="text/javascript" src="../resources/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../controllers/components.js"></script>
    <script type="text/javascript" src="../controllers/account.js"></script>
    <!-- <script type="text/javascript" src="../controllers/usuarios.js"></script> -->
</body>

</html>