<!DOCTYPE html>
<!-- definición del lengauje del sitio -->
<html lang="es">

<head>
    <!-- definición del set de carácteres -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- importación de archivos css -->
    <link href="../resources/css/tailwind.css" rel="stylesheet">
    <link href="../resources/css/styles.css" rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
    <!-- icono de la página -->
    <link rel="icon" href="../resources/img/logo.png">
    <!-- titulo de la página -->
    <title>Clientes</title>
</head>

<body>
    <!-- encabezado del sistio -->
    <header>
    </header>
    <!-- contenido del sitio -->
    <main>
        <div class="py-4">
            <div class="">
                <!--Encabezado del SCRUD de modelos-->
                <div class="py-4 text-center">
                    <h1 class="text-xl text-rojo font-bold ">Clientes</h1>
                    <p class="text-azul font-medium">Gestion de los clientes que comprar repuestors en las distintas
                        sucursales.</p>
                </div>
                <div class="grid grid-cols-4 gap-4 py-4">
                    <!--Buscador de paises de origen-->
                    <div class="col-start-2 col-end-4">
                        <form method="post" id="buscarFormulario">
                            <div class="relative">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none"
                                        stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                                    </svg>
                                </div>
                                <input type="search" id="buscador" name="buscar" placeholder="Buscar...">
                            </div>
                        </form>
                    </div>
                    <div class="col-end-5">
                        <button onclick="crearRegistro()"
                        class="text-green-700 hover:text-white border border-green-700 hover:bg-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
                        type="button">
                            <svg class="w-[30px] h-[30px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M10 5.757v8.486M5.757 10h8.486M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div id="abrirModal" tabindex="-1"
                class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
                <div class="relative w-full h-full max-w-4xl">
                    <!-- Contenido del modal -->
                    <div class="relative bg-white rounded-lg shadow">
                        <!-- Encabezado del modal -->
                        <div class="flex items-center justify-between p-5 border-b rounded-t dark:border-gray-600">
                            <h3 id="titulo" class="text-xl font-bold text-oscuro dark:text-white">
                            </h3>
                            <button onclick="ACCIONES_MODAL.hide()" type="button"
                                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
                                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                <span class="sr-only">Cerrar ventana</span>
                            </button>
                        </div>
                        <!-- Cuerpo del modal -->
                        <form method="post" class="p-4" id="ejecutarFormulario">
                            <div class="grid gap-6 mb-6 md:grid-cols-2 md:col-start-2 md:col-end-4">
                                <div class="text-center py-4 p-6 space-x-2">
                                    <img src="../resources/img/logo.jpg" alt="img">
                                    <br>
                                </div>
                                <div>
                                    <!--Input del ID-->
                                    <div>
                                        <label for="id"
                                            class="block mb-2 text-sm font-semibold text-azul dark:text-white">ID</label>
                                        <input type="number" id="id" name="id"
                                            class="disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700"
                                            placeholder="ID" readonly>
                                    </div>
                                    <!--Input del nombre-->
                                    <div>
                                        <label for="nombre"
                                            class="block mb-2 text-sm font-semibold text-azul dark:text-white">Nombre
                                            del Cliente</label>
                                        <input type="text" id="nombre" name="nombre"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                            placeholder="Nombre Completo" required autocomplete="off">
                                    </div>
                                    <!--Input del giro-->
                                    <div>
                                        <label for="giro"
                                            class="block mb-2 text-sm font-semibold text-azul dark:text-white">Giro</label>
                                        <input type="text" id="giro" name="giro"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                            placeholder="Giro del Cliente" required>
                                    </div>
                                    <!--Input del dui-->
                                    <div>
                                        <label for="dui"
                                            class="block mb-2 text-sm font-semibold text-azul dark:text-white">DUI</label>
                                        <input type="text" id="dui" name="dui"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                            placeholder="00000000-0" required autocomplete="off">
                                    </div>
                                    <!--Input del correo-->
                                    <div>
                                        <label for="correo"
                                            class="block mb-2 text-sm font-semibold text-azul dark:text-white">Correo
                                            del Cliente</label>
                                        <input type="text" id="correo" name="correo"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                            placeholder="ejemplo@gmail.com" required autocomplete="off">
                                    </div>
                                    <!--Input del teléfono-->
                                    <div>
                                        <label for="telefono"
                                            class="block mb-2 text-sm font-semibold text-azul dark:text-white">Teléfono
                                            del Cliente</label>
                                        <input type="text" id="telefono" name="telefono"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                            placeholder="0000-0000" required autocomplete="off">
                                    </div>
                                </div>
                                <!--Input del contacto -->
                                <div>
                                    <label for="contacto"
                                        class="block mb-2 text-sm font-semibold text-azul dark:text-white">Contacto</label>
                                    <input type="text" id="contacto" name="contacto"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                        placeholder="Contacto" required autocomplete="off">
                                </div>
                                <!--Input de descuento -->
                                <div>
                                    <label for="descuento"
                                        class="block mb-2 text-sm font-semibold text-azul dark:text-white">Descuento</label>
                                    <input type="text" id="descuento" name="descuento"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                        placeholder="Descuento" required autocomplete="off">
                                </div>
                                <!--Input de exoneracion-->
                                <div>
                                    <label for="exoneracion"
                                        class="block mb-2 text-sm font-semibold text-azul dark:text-white">Exoneracion</label>
                                    <input type="text" id="exoneracion" name="exoneracion"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                        placeholder="Exoneración" required autocomplete="off">
                                </div>
                                <!--Input de fecha de compra-->
                                <div>
                                    <label for="fechaIni"
                                        class="block mb-2 text-sm font-semibold text-azul dark:text-white">Fecha
                                        Inicial</label>
                                    <input type="date" id="fechaIni" name="fechaIni"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                        placeholder="Fecha de inicio de la compra" required>
                                </div>
                                <!--Input tipo de cliente -->
                                <div>
                                    <label for="tipoCliente"
                                        class="block mb-2 text-sm font-semibold text-azul dark:text-white">Tipo de
                                        Cliente</label>
                                    <select id="tipoCliente" name="tipoCliente"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                    </select>
                                </div>
                                <!--Input tipo de plazo -->
                                <div>
                                    <label for="plazo"
                                        class="block mb-2 text-sm font-semibold text-azul dark:text-white">Plazo</label>
                                    <select id="plazo" name="plazo"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                    </select>
                                </div>
                            </div>
                            <!-- Pie del modal -->
                            <div class="text-right items-center p-6 space-x-2 border-t border-gray-200 rounded-b">
                                <button id="accion" type="submit"
                                    class="border border-green-700 text-green-700 hover:bg-green-800 hover:text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--Final del modal-->
            <!--Tabla de modelos-->
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-sm text-center text-gray-500">
                    <!--Encabezados de las columnas de la tabla modelos-->
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                        <tr class="text-oscuro font-semibold">
                            <th scope="col" class="hidden px-6 py-3">
                                ID
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Nombre del Cliente
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Giro
                            </th>
                            <th scope="col" class="px-6 py-3">
                                DUI
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Correo
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Teléfono
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Contacto
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Descuento
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Exoneracion
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Fecha de Compra
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Tipo de Cliente
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Plazo
                            </th>
                            <th scope="col" class="px-8 py-3">
                                <span class="">Controles</span>
                            </th>
                        </tr>
                    </thead>
                    <!--Filas de la tabla-->
                    <tbody id="registros">
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <!-- pie del sitio -->
    <footer></footer>

    <!-- Importacion de archivos JavaScript -->
    <script type="text/javascript" src="../node_modules/flowbite/dist/flowbite.min.js"></script>
    <script type="text/javascript" src="../resources/JS/sweetalert.min.js"></script>
    <script type="text/javascript" src="../controllers/components.js"></script>
    <script type="text/javascript" src="../controllers/account.js"></script>
    <script type="text/javascript" src="../controllers/clientes.js"></script>
    <script type="text/javascript" src="../controllers/inners.js"></script>
</body>

</html>