<!DOCTYPE html>
<!-- definición del lengauje del sitio -->
<html lang="es">

<head>
    <!-- definición del set de carácteres -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- importación de archivos css -->
    <link href="../resources/css/tailwind.css" rel="stylesheet">
    <link href="../resources/css/styles.css" rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
    <!-- icono de la página -->
    <link rel="icon" href="../resources/img/logo.png">
    <!-- titulo de la página -->
    <title>Código de Plazo</title>
</head>

<body>
    <!-- encabezado del sistio -->
    <header>
    </header>
    <!-- contenido del sitio -->
    <main>
        <div class="py-4">
            <div class="">
                <!--Encabezado del SCRUD de modelos-->
                <div class="py-4 text-center">
                    <h1 class="text-xl text-rojo font-bold ">Códigos de Plazos</h1>
                    <p class="text-azul font-medium">Catalogo para administrar los plazos y los dias habiles para pagar.
                    </p>
                </div>
                <div class="grid grid-cols-4 gap-4 py-4">
                    <!--Buscador de paises de origen-->
                    <div class="col-start-2 col-end-4">
                        <form method="post" id="buscarFormulario">
                            <label for="buscar" class="mb-2 text-sm font-medium text-gray-900 sr-only">Buscar</label>
                            <div class="relative">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none"
                                        stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                                    </svg>
                                </div>
                                <input type="search" id="buscador" name="buscar"
                                    class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="Buscar...">
                                <button type="submit"
                                    class="hidden text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Confirmar</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-end-5">
                        <button onclick="crearRegistro()"
                        class="text-green-700 hover:text-white border border-green-700 hover:bg-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
                        type="button">
                            <svg class="w-[30px] h-[30px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M10 5.757v8.486M5.757 10h8.486M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div id="abrirModal" tabindex="-1"
                class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
                <div class="relative w-full h-full max-w-4xl">
                    <!-- Contenido del modal -->
                    <div class="relative bg-white rounded-lg shadow">
                        <!-- Encabezado del modal -->
                        <div class="flex items-center justify-between p-5 border-b rounded-t dark:border-gray-600">
                            <h3 id="titulo" class="text-xl font-bold text-oscuro dark:text-white">
                            </h3>
                            <button onclick="ABRIR_MODAL.hide()" type="button"
                                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
                                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                <span class="sr-only">Cerrar ventana</span>
                            </button>
                        </div>
                        <!-- Cuerpo del modal -->
                        <form method="post" class="p-4" id="ejecutarFormulario">
                            <div class="grid gap-6 mb-6 md:grid-cols-2 md:col-start-2 md:col-end-4">
                                <div class="text-center py-4 p-6 space-x-2">
                                    <img src="../resources/img/logo.jpg" alt="img">
                                    <br>
                                </div>
                                <div>
                                    <!--Input del ID-->
                                    <div>
                                        <label for="id"
                                            class="block mb-2 text-sm font-semibold text-azul dark:text-white">ID</label>
                                        <input type="number" id="id" name="id"
                                            class="disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700"
                                            placeholder="ID" readonly>
                                    </div>
                                    <!--Input de Plazo-->
                                    <div>
                                        <label for="plazo"
                                            class="block mb-2 text-sm font-semibold text-azul dark:text-white">Plazo</label>
                                        <input type="text" id="plazo" name="plazo"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                            placeholder="Nombre del Plazo" required autocomplete="off">
                                    </div>
                                    <!--Input de Dia-->
                                    <div>
                                        <label for="dias"
                                            class="block mb-2 text-sm font-semibold text-azul dark:text-white">Días</label>
                                        <input type="number" min="0" id="dias" name="dias"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                            placeholder="Dias de ponderación para pagar si es tipo credito" required>
                                    </div>
                                </div>
                            </div>
                            <!-- Pie del modal -->
                            <div class="text-right items-center p-6 space-x-2 border-t border-gray-200 rounded-b">
                                <button id="accion" type="submit"
                                    class="border border-green-700 text-green-700 hover:bg-green-800 hover:text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--Final del modal-->
            <!--Modal para mostrar la grafica-->
            <div id="abrirModalGrafica" tabindex="-1"
                class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
                <div class="relative w-full h-full max-w-4xl">
                    <!-- Contenido del modal -->
                    <div class="relative bg-white rounded-lg shadow">
                        <!-- Encabezado del modal -->
                        <div class="flex items-center justify-between p-5 border-b rounded-t dark:border-gray-600">
                            <h3 id="titulo" class="text-xl font-bold text-oscuro dark:text-white">Gráfico cantidad de
                                codigos plazos por plazos
                            </h3>
                            <button onclick="ABRIR_MODAL_GRAFICA.hide()" type="button"
                                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
                                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                <span class="sr-only">Cerrar ventana</span>
                            </button>
                        </div>
                        <!-- Cuerpo del modal -->
                        <form method="post" class="p-4" id="ejecutarFormulario2">
                            <div class="grid gap-6 mb-6 md:grid-cols-2 md:col-start-2 md:col-end-4">
                                <!--Contenido grafica-->
                                <!-- Se muestran gráficos de acuerdo con algunos datos disponibles en la base de datos -->
                                <div class="items-center">
                                    <div class="col s12 m6" id="graphContainer">
                                        <!-- Se muestra un gráfico de barra con la cantidad de productos por categoría -->
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--Final del modal-->
            <!--Tabla de modelos-->
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-sm text-center text-gray-500">
                    <!--Encabezados de las columnas de la tabla modelos-->
                    <thead class="text-xs text-oscuro uppercase bg-gray-50">
                        <tr class="font-semibold">
                            <th scope="col" class="hidden px-6 py-3">
                                ID
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Plazos
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Días
                            </th>
                            <th scope="col" class="px-8 py-3">
                                <span class="">Controles</span>
                            </th>
                        </tr>
                    </thead>
                    <!--Filas de la tabla-->
                    <tbody id="registros">
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <!-- pie del sitio -->
    <footer></footer>

    <!-- Importacion de archivos JavaScript -->
    <script type="text/javascript" src="../node_modules/flowbite/dist/flowbite.min.js"></script>
    <script type="text/javascript" src="../resources/JS/sweetalert.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript" src="../controllers/components.js"></script>
    <script type="text/javascript" src="../controllers/account.js"></script>
    <script type="text/javascript" src="../controllers/codigosPlazos.js"></script>
    <script type="text/javascript" src="../controllers/inners.js"></script>
</body>

</html>