<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- importación de archivos css -->
    <link rel="stylesheet" href="../resources/css/jose.css">
    <link rel="stylesheet" href="../resources/css/menu.css">
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
    <!-- icono de la página -->
    <link rel="icon" href="../resources/img/logo.png">
    <!-- titulo de la página -->
    <title>Dashboard</title>
</head>

<body>
    <!-- encabezado del sistio -->
    <header></header>
    <!-- contenido del sitio -->
    <main class="container mt-5 mb-5">
        <!-- contenedor para tarjetas informativas -->
        <div class="grid grid-cols-4 gap-4 mb-4">
            <!-- tarjeta informativa -->
            <div class="flex items-center justify-center h-24 rounded">
                <foarm class="border border-azul block max-w-sm p-6 bg-white rounded-lg shadow">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy
                        technology acquisitions 2021</h5>
                    <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology
                        acquisitions of 2021 so far, in reverse chronological order.</p>
                </foarm>
            </div>
            <!-- tarjeta informativa -->
            <div class="flex items-center justify-center h-24 rounded">
                <foarm class="border border-azul block max-w-sm p-6 bg-white rounded-lg shadow">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy
                        technology acquisitions 2021</h5>
                    <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology
                        acquisitions of 2021 so far, in reverse chronological order.</p>
                </foarm>
            </div>
            <!-- tarjeta informativa -->
            <div class="border border-azul flex items-center justify-center h-24 rounded">
                <foarm class="block max-w-sm p-6 bg-white rounded-lg shadow">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy
                        technology acquisitions 2021</h5>
                    <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology
                        acquisitions of 2021 so far, in reverse chronological order.</p>
                </foarm>
            </div>
            <!-- tarjeta informativa -->
            <div class="border border-azul flex items-center justify-center h-24 rounded">
                <foarm class="block max-w-sm p-6 bg-white rounded-lg shadow">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy
                        technology acquisitions 2021</h5>
                    <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology
                        acquisitions of 2021 so far, in reverse chronological order.</p>
                </foarm>
            </div>
        </div>
        <!-- contenedor para tarjetas informativas -->
        <div class="grid grid-cols-2 mb-4">
            <!-- gráfica -->
            <div>
                <canvas id="chart-bar"></canvas>
            </div>
            <div>
                <canvas id="chart-line"></canvas>
            </div>
        </div>
        <div class="grid grid-cols-2 mb-4">
            <!-- gráfica -->
            <div>
                <canvas id="chart-polar" class=""></canvas>
            </div>
            <!-- gráfica -->
            <div>
                <canvas id="chart-doughnut" class=""></canvas>
            </div>
        </div>
    </main>
    <!-- pie del sitio -->
    <footer></footer>

    <!-- importación de archivos js de flowbite -->
    <script src="../node_modules/flowbite/dist/flowbite.min.js"></script>
    <!-- importación de archivo js de plantilla -->
    <script src="../controllers/account.js"></script>

    <!-- importación de archivo js para libreria chart -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- configuración js para libreria chart -->
    <script>
        const cbar = document.getElementById('chart-bar');

        new Chart(cbar, {
            type: 'bar',
            data: {
                labels: ['Uno', 'Dos', 'Tres'],
                datasets: [{
                    label: '# of Votes',
                    data: [11, 9, 10],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        const cline = document.getElementById('chart-line');

        new Chart(cline, {
            type: 'line',
            data: {
                labels: ['Uno', 'Dos', 'Tres'],
                datasets: [{
                    label: '# of Votes',
                    data: [11, 9, 10],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        const cpolar = document.getElementById('chart-polar');

        new Chart(cpolar, {
            type: 'polarArea',
            data: {
                labels: ['Uno', 'Dos', 'Tres'],
                datasets: [{
                    label: '# of Votes',
                    data: [1, 2, 3],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: false
                    }
                }
            }
        });

        const cdoughnut = document.getElementById('chart-doughnut');

        new Chart(cdoughnut, {
            type: 'doughnut',
            data: {
                labels: ['Uno', 'Dos', 'Tres'],
                datasets: [{
                    label: '# of Votes',
                    data: [1, 2, 3],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: false
                    }
                }
            }
        });
    </script>
</body>

</html>