<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- importación de archivos css -->
    <link rel="stylesheet" href="/resources/css/jose.css">
    <link rel="stylesheet" href="/resources/css/menu.css">
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
    <!-- icono de la página -->
    <link rel="icon" href="/resources/img/logo.png">
    <!-- titulo de la página -->
    <title>Dashboard</title>
</head>

<body>
    <header>
        <nav class="sticky top-0 z-10 bg-azul">
            <div class="logo">
                <i class="bx bx-menu menu-icon text-white"></i>
                <span class="logo-name text-white">Import Cars</span>
            </div>

            <div class="sidebar bg-white">
                <div class="logo">
                    <i class="bx bx-menu menu-icon text-black"></i>
                    <span class="logo-name text-black">IMPORT CARS</span>
                </div>
                <div class="sidebar-content">
                    <hr>
                    <ul class="lists">
                        <li class="list">
                            <a href="#" class="nav-link text-gray-600 hover:bg-azul hover:text-white">
                                <i class="bx bx-home-alt icon"></i>
                                <span class="link">Dashboard</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="nav-link text-black text-gray-600 hover:bg-azul hover:text-white">
                                <i class='bx bxl-product-hunt icon'></i>
                                <span class="link">Productos</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="nav-link text-gray-600 hover:bg-azul hover:text-white">
                                <i class='bx bx-bar-chart-alt icon'></i>
                                <span class="link">Procesos</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="nav-link text-gray-600 hover:bg-azul hover:text-white">
                                <i class='bx bxs-report icon'></i>
                                <span class="link">Reportes</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="nav-link text-gray-600 hover:bg-azul hover:text-white">
                                <i class='bx bx-list-plus icon'></i>
                                <span class="link">Consultas</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="nav-link text-gray-600 hover:bg-azul hover:text-white">
                                <i class='bx bxs-briefcase icon'></i>
                                <span class="link">Cierres</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="nav-link text-gray-600 hover:bg-azul hover:text-white">
                                <i class='bx bx-table icon'></i>
                                <span class="link">Tablas</span>
                            </a>
                        </li>
                    </ul>
                    <hr>
                    <div class="bottom-cotent">
                        <li class="list">
                            <a href="#" class="nav-link">
                                <i class="bx bx-cog icon"></i>
                                <span class="link">Configuracion</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="index.html" class="nav-link">
                                <i class="bx bx-log-out icon"></i>
                                <span class="link">Cerrar sesion</span>
                            </a>
                        </li>
                    </div>
                </div>
            </div>
            <div class="absolute inset-y-0 right-0 p-3">
                <img data-tooltip-target="tooltip"
                    class=" w-10 h-10 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500"
                    src="/resources/img/perfil.jpg" alt="Bordered avatar">
            </div>
            <div id="tooltip" role="tooltip"
                class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 border border-azul rounded-lg shadow-sm opacity-0 tooltip">
                Mi perfil
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
        </nav>
    </header>
    <main>
        <!-- Cajas donde se encontraran los datos de acceso facil -->
        <div class="h-screen p-16 grid grid-cols-4 grid-rows-4 gap-6">
            <!-- caja de la venta de la ultima semana -->
            <div class="bg-gray-300 text-gray-800 font-bold text-2xl py-4 rounded-lg row-span-3">
                <h1 class="text-center">Ventas de la ultima semana. <i class='bx bx-dollar-circle'></i></h1>
                <p class="text-justify mt-20 ml-4">128.00</p>
                <p class="mt-20 ml-4 text-green-400"><i class='bx bx-line-chart'></i>12% mas que las ultimas semanas</p>
            </div>
            <!-- caja de la venta de el ultimo mes -->
            <div class="bg-gray-300 text-gray-800 font-bold text-2xl py-4 rounded-lg row-span-3">
                <h1 class="text-center">Ventas del ultimo mes. <i class='bx bx-dollar-circle'></i></h1>
                <p class="text-justify mt-20 ml-4">350.00</p>
                <p class="mt-20 ml-4 text-red-400"><i class='bx bx-line-chart-down'></i>12% menos que el mes pasado</p>
            </div>
            <!-- caja de la venta del ultimo año -->
            <div class="bg-gray-300 text-gray-800 font-bold text-2xl py-4 rounded-lg row-span-3">
                <h1 class="text-center">Ventas del ultimo año. <i class='bx bx-dollar-circle'></i></h1>
                <p class="text-justify mt-20 ml-4">128.00</p>
                <p class="mt-20 ml-4 text-green-400"><i class='bx bx-line-chart'></i>12% mas que el año pasado</p>
            </div>
            <!-- caja de los Productos mas vendidos -->
            <div class="bg-gray-300 text-gray-800 font-bold text-2xl py-4 rounded-lg row-span-6">
                <h1 class="text-center">Productos mas populares.</h1>
                <br>
                <!-- listo de los productos -->
                <ul class="max-w-md divide-y divide-gray-200 dark:divide-gray-700">
                    <li class="pb-3 sm:pb-4">
                        <div class="flex items-center space-x-4 ml-4">
                            <div class="flex-1 min-w-0">
                                <p class="text-sm font-medium text-gray-900 dark:text-white">
                                    Zapatas de frenos.
                                </p>
                                <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                    SKU 58302-31020.
                                </p>
                            </div>
                            <div class="mr-4 inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                $44.00
                            </div>
                        </div>
                    </li>
                    <li class="pb-3 sm:pb-4">
                        <div class="flex items-center space-x-4 ml-4">
                            <div class="flex-1 min-w-0">
                                <p class="text-sm font-medium text-gray-900 dark:text-white">
                                    Pastillas de frenos.
                                </p>
                                <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                    SKU PK-16-AF
                                </p>
                            </div>
                            <div class="mr-4 inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                $59.25
                            </div>
                        </div>
                    </li>
                    <li class="pb-3 sm:pb-4">
                        <div class="flex items-center space-x-4 ml-4">
                            <div class="flex-1 min-w-0">
                                <p class="text-sm font-medium text-gray-900 dark:text-white">
                                    Sealed beam halogeno multiproposito
                                </p>
                                <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                    SKU 58302-31020
                                </p>
                            </div>
                            <div class="mr-4 inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                $32.06
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Cajas para las estadisticas de los datos. -->
            <div class="bg-gray-300 text-gray-800 font-bold text-3xl py-4 rounded-lg col-span-2">
                Estadisticas por mes.
            </div>
            <div class="bg-gray-300 text-gray-800 font-bold text-3xl py-4 rounded-lg col-span-2">
                Estadisticas por año.</div>
        </div>
    </main>
    <footer
        class="2xl:sticky bottom-0 left-0 right-0 p-4 bg-azul shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800">
        <img class="h-8" src="/resources/img/logo.png" alt="">
        <ul class="flex flex-wrap items-center mt-3 text-sm text-white dark:text-gray-400 sm:mt-0">
            <li>
                <a href="https://www.instagram.com/dnlhernandez_/" class="mr-4 hover:underline md:mr-6 "
                    target="_blank">About</a>
            </li>
            <li>
                <a href="https://www.instagram.com/dnlhernandez_/" class="mr-4 hover:underline md:mr-6"
                    target="_blank">Privacy Policy</a>
            </li>
            <li>
                <a href="https://www.instagram.com/dnlhernandez_/" class="mr-4 hover:underline md:mr-6"
                    target="_blank">Licensing</a>
            </li>
            <li>
                <a href="https://www.instagram.com/dnlhernandez_/" class="hover:underline" target="_blank">Contact</a>
            </li>
        </ul>
    </footer>

    <script src="/node_modules/flowbite/dist/flowbite.min.js"></script>
    <script>
        const navBar = document.querySelector("nav"),
            menuBtns = document.querySelectorAll(".menu-icon"),
            overlay = document.querySelector(".overlay");

        menuBtns.forEach((menuBtn) => {
            menuBtn.addEventListener("click", () => {
                navBar.classList.toggle("open");
            });
        });

        overlay.addEventListener("click", () => {
            navBar.classList.remove("open");
        });
    </script>
</body>

</html>