<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- importación de archivos css -->
    <link href="../resources/css/tailwind.css" rel="stylesheet">
    <link href="../resources/css/menu.css" rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
    <!-- icono de la página -->
    <link rel="icon" href="../resources/img/logo.png">
    <!-- titulo de la página -->
    <title>Dashboard</title>
</head>

<body>
    <!-- encabezado del sistio -->
    <header></header>
    <!-- contenido del sitio -->
    <main class="container mt-5 mb-5">
        <!-- contenedor para tarjetas informativas -->
        <div class="grid grid-cols-2 mb-4">
            <!-- gráfica -->
            <div>
                <canvas id="chart-bar"></canvas>
            </div>
            <div>
                <canvas id="chart-line"></canvas>
            </div>
        </div>
        <div class="grid grid-cols-2 mb-4">
            <!-- gráfica -->
            <div>
                <canvas id="chart-polar" class=""></canvas>
            </div>
            <!-- gráfica -->
            <div>
                <canvas id="chart-doughnut" class=""></canvas>
            </div>
        </div>
    </main>
    <!-- pie del sitio -->
    <footer></footer>
    <!-- importación de archivos js -->
    <script type="text/javascript" src="../node_modules/flowbite/dist/flowbite.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript" src="../resources/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../controllers/components.js"></script>
    <script type="text/javascript" src="../controllers/account.js"></script>
    <script>
        const cbar = document.getElementById('chart-bar');

        new Chart(cbar, {
            type: 'bar',
            data: {
                labels: ['Uno', 'Dos', 'Tres'],
                datasets: [{
                    label: '# of Votes',
                    data: [11, 9, 10],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        const cline = document.getElementById('chart-line');

        new Chart(cline, {
            type: 'line',
            data: {
                labels: ['Uno', 'Dos', 'Tres'],
                datasets: [{
                    label: '# of Votes',
                    data: [11, 9, 10],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        const cpolar = document.getElementById('chart-polar');

        new Chart(cpolar, {
            type: 'polarArea',
            data: {
                labels: ['Uno', 'Dos', 'Tres'],
                datasets: [{
                    label: '# of Votes',
                    data: [1, 2, 3],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: false
                    }
                }
            }
        });

        const cdoughnut = document.getElementById('chart-doughnut');

        new Chart(cdoughnut, {
            type: 'doughnut',
            data: {
                labels: ['Uno', 'Dos', 'Tres'],
                datasets: [{
                    label: '# of Votes',
                    data: [1, 2, 3],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: false
                    }
                }
            }
        });
    </script>
</body>

</html>