<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- importación de archivos css -->
    <link href="../resources/css/tailwind.css" rel="stylesheet">
    <link href="../resources/css/styles.css" rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
    <!-- icono de la página -->
    <link rel="icon" href="../resources/img/logo.png">
    <!-- titulo de la página -->
    <title>Dashboard</title>
</head>

<body>
    <!-- encabezado del sistio -->
    <header></header>
    <!-- contenido del sitio -->
    <main class="container mt-5 mb-5">
        <!-- contenedor para tarjetas informativas -->
        <div class="grid grid-cols-2 mb-4">
            <!-- gráfica -->
            <div>
                <h3 class="text-center text-rojo font-bold uppercase">Cantidad de transacciones por numero de bodega</h3>
                <canvas id="transaccionBodegasGrafic"></canvas>
            </div>
            <div>
                <h3 class="text-center text-rojo font-bold uppercase">Cantidad de empleados por cargo</h3>
                <canvas id="empleadoCargo"></canvas>
            </div>
        </div>
        <div class="grid grid-cols-2 mb-4">
            <!-- gráfica -->
        </div>
    </main>
    <!-- pie del sitio -->
    <footer></footer>
    <!-- importación de archivos js -->
    <script type="text/javascript" src="../node_modules/flowbite/dist/flowbite.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript" src="../resources/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../controllers/components.js"></script>
    <script type="text/javascript" src="../controllers/account.js"></script>
    <script src="../controllers/dashboardMarchelli.js"></script>
</body>

</html>