<!DOCTYPE html>
<!-- definición del lengauje del sitio -->
<html lang="es">

<head>
    <!-- definición del set de carácteres -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- importación de archivos css -->
    <link href="../resources/css/tailwind.css" rel="stylesheet">
    <link href="../resources/css/styles.css" rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
    <!-- icono de la página -->
    <link rel="icon" href="../resources/img/logo.png">
    <!-- titulo de la página -->
    <title>Transacciones</title>
</head>

<body class="bg-gray-900">
    <!-- encabezado del sistio -->
    <header></header>

    <!-- contenido del sitio -->
    <main>
        <div class="py-4 container">
            <div>
                <div class="py-4 text-center">
                    <!--Informacion del contenido de la pagina-->
                    <h1 class="text-xl text-rojo font-bold uppercase">Detalles de Transacciones</h1>
                    <p class="text-blue-500 font-medium">Entradas y ventas de productos por medio transacciones que se imprimen.</p>
                </div>
                <div class="grid grid-cols-4 gap-4 py-4">
                    <div class="col-start-2 col-end-4">
                        <form method="post" id="buscarFormulario">
                            <label for="default-search"
                                class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Buscar</label>
                            <div class="relative">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none"
                                        stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                                    </svg>
                                </div>
                                <input type="search" id="buscar" name="buscar"
                                    class="block w-full bg-gray-900 text-white border border-white rounded-lg focus:ring-azul focus:border-azul p-4 pl-10 text-sm"
                                    placeholder="Buscar...">
                            </div>
                        </form>
                    </div>
                    <div class="col-end-5">
                        <button onclick="crearRegistro()"
                            class="text-green-700 hover:text-white border border-green-700 hover:bg-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
                            type="button">
                            <img src="https://img.icons8.com/ios/30/FFFFFF/add--v1.png" />
                        </button>
                    </div>
                </div>
            </div>
            <div id="abrirModal" tabindex="-1"
                class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
                <div class="relative w-full h-full max-w-4xl">
                    <!-- Modal content -->
                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                        <!-- Modal header -->
                        <div class="flex items-center justify-between p-5 border-b rounded-t dark:border-gray-600">
                            <h3 id="titulo" class="text-xl font-bold text-oscuro dark:text-white">
                            </h3>
                            <button onclick="ABRIR_MODAL.hide();" type="button"
                                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
                                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                <span class="sr-only">Cerrar ventana</span>
                            </button>
                        </div>
                        <!-- Modal body -->
                        <form method="post" id="ejecutarFormulario" class="p-4">
                            <div class="grid gap-6 mb-6 grid-cols-1 md:grid-cols-3">
                                <div>
                                    <div class="text-center py-4 p-6 space-x-2 rounded-b">
                                        <img src="../resources/img/logo.jpg" alt="img">
                                        <br>
                                </div>
                                <div class="grid gap-6 mb-6 md:grid-cols-2 md:col-start-2 md:col-end-4">
                                    <!--Input del ID-->
                                    <div>
                                        <label for="id"
                                            class="block mb-2 text-sm font-semibold text-azul dark:text-white">ID</label>
                                        <input type="number" id="id" name="id"
                                            class="disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700"
                                            placeholder="ID" readonly>
                                    </div>
                                    <!--Input numero de conprobante-->
                                    <div>
                                        <label for="noComprobante"
                                            class="block mb-2 text-sm font-semibold text-azul dark:text-white">No. Comprobante</label>
                                        <input type="number" id="noComprobante" name="noComprobante" min="0" step="1"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                            placeholder="Numero de comprobante" required>
                                    </div>
                                    <!--Input fecha de transaccion-->
                                    <div>
                                        <label for="fechatransac"
                                            class="block mb-2 text-sm font-semibold text-azul dark:text-white">Fecha de Transacción</label>
                                        <input type="date" id="fechatransac" name="fechatransac"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                            placeholder="Fecha de la transaccion" required>
                                    </div>
                                    <!--Input del lote-->
                                    <div>
                                        <label for="lote"
                                            class="block mb-2 text-sm font-semibold text-azul dark:text-white">Lote</label>
                                        <input type="number" id="lote" name="lote" min="0" step="1"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                            placeholder="Productos agrupados en un conjunto" required>
                                    </div>
                                    <!--Input de número de poliza-->
                                    <div>
                                        <label for="nopoliza"
                                            class="block mb-2 text-sm font-semibold text-azul dark:text-white">No. Poliza</label>
                                        <input type="number" id="nopoliza" name="nopoliza" min="0" step="1"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                            placeholder="Número de la poliza" required>
                                    </div>
                                    <!--Input de bodega-->
                                    <div>
                                        <label for="bodega"
                                            class="block mb-2 text-sm font-semibold text-azul dark:text-white">Bodega</label>
                                        <select id="bodega" name="bodega"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                        </select>
                                    </div>
                                    <!--Input de cajero-->
                                    <div>
                                        <label for="cajero"
                                            class="block mb-2 text-sm font-semibold text-azul dark:text-white">Cajero</label>
                                        <select id="cajero" name="cajero"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                        </select>
                                    </div>
                                    <!--Input tipo de pago-->
                                    <div>
                                        <label for="tipoPago"
                                            class="block mb-2 text-sm font-semibold text-azul dark:text-white">Tipo de Pago</label>
                                        <select id="tipoPago" name="tipoPago"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                        </select>
                                    </div>
                                    <!--Input de codigo de la transacción-->
                                    <div>
                                        <label for="codigoTransaccion"
                                            class="block mb-2 text-sm font-semibold text-azul dark:text-white">Codigo de Transacción</label>
                                        <select id="codigoTransaccion" name="codigoTransaccion"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                        </select>
                                    </div>
                                    <!--Input de cliente-->
                                    <div>
                                        <label for="cliente"
                                            class="block mb-2 text-sm font-semibold text-azul dark:text-white">Cliente</label>
                                        <select id="cliente" name="cliente"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                        </select>
                                    </div>
                                    <!--Input de vendedor-->
                                    <div>
                                        <label for="vendedor"
                                            class="block mb-2 text-sm font-semibold text-azul dark:text-white">Vendedor</label>
                                        <select id="vendedor" name="vendedor"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                        </select>
                                    </div>
                                    <!--Input de proveedor-->
                                    <div>
                                        <label for="proveedor"
                                            class="block mb-2 text-sm font-semibold text-azul dark:text-white">Proveedor</label>
                                        <select id="proveedor" name="proveedor"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                        </select>
                                    </div>
                                    <!--Input de parametro-->
                                    <div>
                                        <label for="parametro"
                                            class="block mb-2 text-sm font-semibold text-azul dark:text-white">Parametro</label>
                                        <select id="parametro" name="parametro"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="text-right items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                                <button id="accion" type="submit"
                                    class="border border-green-700 text-green-700 hover:bg-green-800 hover:text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center"></button>
                            </div>
                        </form>
                        <!-- Modal footer -->

                    </div>
                </div>
            </div>
            <!--Final del modal-->
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-sm text-center text-gray-500 dark:text-gray-400">
                    <thead
                        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr class="text-oscuro font-semibold">
                            <!--Columna del numero comprobante de detalles transacciones-->
                            <th scope="col" class="px-6 py-3">
                                No. Comprobante
                            </th>
                            <!--Columna de a fecha de la transaccion  de detalles transacciones-->
                            <th scope="col" class="px-6 py-3">
                                Fecha de la Transacción
                            </th>
                            <!--Columna de lote de detalles transacciones-->
                            <th scope="col" class="px-6 py-3">
                                Lote
                            </th>
                            <!--Columna de poliza de detalles transacciones-->
                            <th scope="col" class="px-6 py-3">
                                No. Poliza
                            </th>
                            <!--Columna de bodega de detalles transacciones-->
                            <th scope="col" class="px-6 py-3">
                                Bodega
                            </th>
                            <!--Columna del cajero de detalles transacciones-->
                            <th scope="col" class="px-6 py-3">
                                Cajero
                            </th>
                            <!--Columna del tipo de pago de detalles transacciones-->
                            <th scope="col" class="px-6 py-3">
                                Tipo de Pago
                            </th>
                            <!--Columna del ecodigo de detalles transacciones-->
                            <th scope="col" class="px-6 py-3">
                                Codigo Transacción
                            </th>
                            <!--Columna del cliente de detalles transacciones-->
                            <th scope="col" class="px-6 py-3">
                                Cliente
                            </th>
                            <!--Columna del vendedor de detalles transacciones-->
                            <th scope="col" class="px-6 py-3">
                                Vendedor
                            </th>
                            <!--Columna del proveedor de detalles transacciones-->
                            <th scope="col" class="px-6 py-3">
                                Proveedor
                            </th>
                            <!--Columna de los parametros de detalles transacciones-->
                            <th scope="col" class="px-6 py-3">
                                Parametros
                            </th>
                            <!--Controles de acciones para actualizar o eliminar registro-->
                            <th scope="col" class="px-8 py-3">
                                <span class="">Controles</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="registrosTabla">
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <!-- pie del sitio -->
    <footer></footer>

    <!-- Importacion de archivos JavaScript -->
    <script src="../node_modules/flowbite/dist/flowbite.min.js"></script>
    <script src="../resources/JS/sweetalert.min.js"></script>
    <script src="../controllers/components.js"></script>
    <script src="../controllers/account.js"></script>
    <script src="../controllers/empleados.js"></script>
</body>

</html>