<!doctype html>
<!-- definición del lengauje del sitio -->
<html lang="es">

<head>
    <!-- definición del set de carácteres -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- importación de archivos css -->
    <link href="../resources/css/tailwind.css" rel="stylesheet">
    <link href="../resources/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="../resources/css/recuperarcontraseña.css">
    <!-- titulo de la página -->
    <title>Import Cars</title>
    <!-- icono de la página -->
    <link rel="icon" href="../resources/img/logo.png">
</head>

<body class="bg-gray-900">
    <header></header>
    <!-- contenido del sitio -->
    <main>
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0 hidden" id="ingresar-us">
            <!-- logo de la empresa -->
            <img src="../resources/img/logo-circulo.png" alt="logo" id="logo" width="200px">
            <!-- caja de contenido -->
            <div class="w-full rounded-lg ring-1 ring-azul shadow-2xl shadow-black md:mt-0 sm:max-w-md xl:p-0">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <form method="post" id="formulario-sesion" class="space-y-4 md:space-y-6" action="#">
                        <!-- textbox para ingresar usuario -->
                        <div>
                            <label id="uslabel" for="usuario" class="block mb-2 text-sm font-medium text-white">Usuario</label>
                            <input type="text" name="usuario" id="usuario"
                                class="bg-gray-900 border border-white text-white sm:text-sm rounded-lg focus:ring-azul focus:border-azul block w-full p-2.5"
                                placeholder="Ingrese su usuario" required="" autocomplete="off">
                        </div>
                        <!-- Ingresar clave -->
                        <div>
                            <label id="clavlabel" for="clave" class="block mb-2 text-sm font-medium text-white">Contraseña</label>
                            <input type="password" name="clave" id="clave"
                                class="bg-gray-900 border border-white text-white sm:text-sm rounded-lg focus:ring-azul focus:border-azul block w-full p-2.5"
                                placeholder="Ingrese su contraseña" required="" autocomplete="off">
                        </div>                             
                        
                        <div id="controles" class="flex items-center justify-between">
                            <!-- checkbox para recordar sesión -->
                            <div class="flex items-start">
                                <div class="flex items-center h-5">
                                    <input id="remember" aria-describedby="remember" type="checkbox"
                                        class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800">
                                </div>
                                <div class="ml-3 text-sm">
                                    <label for="remember" class="text-white dark:text-gray-300">Recuerdame</label>
                                </div>
                            </div>

                            <!-- Acceder a recuperación de clave -->
                            <a onclick="abrirRecuperacion()"
                                class="text-sm font-medium text-white hover:underline dark:text-primary-500">¿Olvidaste
                                tu
                                contraseña?</a>
                        </div>
                        <!-- boton para ingersar -->
                        <button type="submit"
                            class="w-full ring-1 ring-azul text-azul font-medium focus:ring-4 focus:ring-white rounded-lg px-5 py-2.5 text-center hover:bg-azul hover:text-white">Ingresar</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- formulario para el ingreso del codigo de la verificacion en 2 pasos -->
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0 hidden" id="ingresar-codigo">
            <!-- logo de la empresa -->
            <img src="../resources/img/logo-circulo.png" alt="logo" id="logo" width="200px">
            <!-- caja de contenido -->
            <div class="w-full rounded-lg ring-1 ring-azul shadow-2xl shadow-black md:mt-0 sm:max-w-md xl:p-0">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <form method="post" id="formulario-codigo" class="space-y-4 md:space-y-6" action="#">
                        <!-- textbox para ingresar usuario -->

                        <div>
                            <label id="codlabel" for="codigoingresado" class="block mb-2 text-sm font-medium text-white">Ingresar codigo:</label>
                            <input type="number" id="codigoingresado" name="codigoingresado"
                                class="bg-gray-900 border border-white text-white sm:text-sm rounded-lg focus:ring-azul focus:border-azul block w-full p-2.5 "
                                placeholder="Código de verificación" autocomplete="off">
                        </div>
                     
                        <!-- boton para ingersar -->
                        <button type="submit"
                            class="w-full ring-1 ring-azul text-azul font-medium focus:ring-4 focus:ring-white rounded-lg px-5 py-2.5 text-center hover:bg-azul hover:text-white">Ingresar</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- formulario para registrar el primer empleado -->
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0 hidden" id="registrar-emp">
            <div class="py-4 rounded-lg ring-1 ring-azul shadow-2xl shadow-black">
                <p class="text-2xl text-center font-bold text-white p-4">Registrar primer empleado</p>
                <form method="post" id="formulario-emp" class="p-4">
                    <div class="grid gap-6 mb-6 grid-cols-1 md:grid-cols-3">
                        <div>
                            <div class="text-center py-4 p-6 space-x-2 rounded-b">
                                <img src="../resources/img/logo-circulo.png" alt="img">
                                <br>
                            </div>
                            <!--ID-->
                            <input class="hidden" type="number" id="id" name="id">
                        </div>
                        <div class="grid gap-6 mb-6 md:grid-cols-2 md:col-start-2 md:col-end-4">
                            <!--ID-->
                            <!--Input nombre del empleado-->
                            <div>
                                <label for="nombre" class="block mb-2 text-sm font-medium text-white">Nombre
                                    del empleado:</label>
                                <input type="text" id="nombre" name="nombre"
                                    class="bg-gray-900 border border-white text-white sm:text-sm rounded-lg focus:ring-azul focus:border-azul block w-full p-2.5"
                                    placeholder="Nombre empleado" required autocomplete="off">
                            </div>
                            <!--Input telefono del empleado-->
                            <div>
                                <label for="telefono"
                                    class="block mb-2 text-sm font-medium text-white">Telefono:</label>
                                <input type="tel" id="telefono" name="telefono"
                                    class="bg-gray-900 border border-white text-white sm:text-sm rounded-lg focus:ring-azul focus:border-azul block w-full p-2.5"
                                    placeholder="7777-7777" required autocomplete="off">
                            </div>
                            <!--Input correo del empleado-->
                            <div>
                                <label for="correo" class="block mb-2 text-sm font-medium text-white">Correo
                                    del empleado:</label>
                                <input type="mail" id="correo" name="correo"
                                    class="bg-gray-900 border border-white text-white sm:text-sm rounded-lg focus:ring-azul focus:border-azul block w-full p-2.5"
                                    placeholder="elcorreo@ejemplo.com" required autocomplete="off">
                            </div>
                            <!--Input nacimiento del empleado-->
                            <div>
                                <label for="nacimiento" class="block mb-2 text-sm font-medium text-white">Fecha
                                    de
                                    nacimiento</label>
                                <input type="date" id="nacimiento" name="nacimiento"
                                    class="bg-gray-900 border border-white text-white sm:text-sm rounded-lg focus:ring-azul focus:border-azul block w-full p-2.5"
                                    placeholder="" required>
                            </div>
                            <!--Input documento del empleado-->
                            <div>
                                <label for="documentoempleado"
                                    class="block mb-2 text-sm font-medium text-white">Documento
                                    del empleado:</label>
                                <input type="text" id="documento" name="documento"
                                    class="bg-gray-900 border border-white text-white sm:text-sm rounded-lg focus:ring-azul focus:border-azul block w-full p-2.5"
                                    placeholder="Ingrese el documento" required autocomplete="off">
                            </div>
                            <!--Input genero empleado-->
                            <div>
                                <label for="genero" class="block mb-2 text-sm font-medium text-white">Genero
                                    del empleado:</label>
                                <select id="genero" name="genero"
                                    class="bg-gray-900 border border-white text-white sm:text-sm rounded-lg focus:ring-azul focus:border-azul block w-full p-2.5">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit"
                        class="w-auto ring-1 ring-azul text-azul font-medium focus:ring-4 focus:ring-white rounded-lg px-5 py-2.5 text-center hover:bg-azul hover:text-white">Registrar empleado</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- formulario para registrar el primer usuario -->
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0 hidden" id="registrar-us">
            <div class="py-4 rounded-lg ring-1 ring-azul shadow-2xl shadow-black">
                <p class="text-2xl text-center font-bold text-white p-4">Registrar primer usuario</p>
                <form class="p-4" method="post" id="formulario-us">
                    <div class="grid gap-6 mb-6 grid-cols-1 md:grid-cols-3">
                        <div>
                            <div class="text-center py-4 p-6 space-x-2 rounded-b">
                                <img src="../resources/img/logo-circulo.png" alt="img">
                                <br>
                            </div>
                            <!--ID-->
                            <input class="hidden" type="number" id="id" name="id">
                        </div>
                        <div class="grid gap-6 mb-6 md:grid-cols-2 md:col-start-2 md:col-end-4">
                            <!--Input nombre de de usuario-->
                            <div>
                                <label for="nombre"
                                    class="block mb-2 text-sm font-medium text-white">Nombre
                                    del usuario:</label>
                                <input type="text" id="nombre" name="nombre"
                                    class="bg-gray-900 border border-white text-white sm:text-sm rounded-lg focus:ring-azul focus:border-azul block w-full p-2.5"
                                    placeholder="Ingrese nombre de usuario" required autocomplete="off">
                            </div>
                            <!--Input pin del usuario-->
                            <div>
                                <label for="pin"
                                    class="block mb-2 text-sm font-medium text-white">Pin:</label>
                                <input type="number" id="pin" name="pin"
                                    class="bg-gray-900 border border-white text-white sm:text-sm rounded-lg focus:ring-azul focus:border-azul block w-full p-2.5"
                                    placeholder="Pin" required autocomplete="off">
                            </div>
                            <!--Input contraseña del usuario-->
                            <div>
                                <label for="clave"
                                    class="block mb-2 text-sm font-medium text-white">Contraseña:</label>
                                <input type="password" id="clave" name="clave"
                                    class="bg-gray-900 border border-white text-white sm:text-sm rounded-lg focus:ring-azul focus:border-azul block w-full p-2.5"
                                    placeholder="Ingrese la contraseña" required autocomplete="off">
                            </div>
                            <!--Input contraseña del usuario-->
                            <div>
                                <label for="confirmar"
                                    class="block mb-2 text-sm font-medium text-white">Confirmar
                                    contraseña:</label>
                                <input type="password" id="confirmar" name="confirmar"
                                    class="bg-gray-900 border border-white text-white sm:text-sm rounded-lg focus:ring-azul focus:border-azul block w-full p-2.5"
                                    placeholder="Ingrese la contraseña" required autocomplete="off">
                            </div>
                            <!--Input del empleado asignado al usuario-->
                            <div>
                                <label for="empleado"
                                    class="block mb-2 text-sm font-medium text-white">Empleado:</label>
                                <select id="empleado" name="empleado"
                                    class="bg-gray-900 border border-white text-white sm:text-sm rounded-lg focus:ring-azul focus:border-azul block w-full p-2.5">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit"
                        class="w-auto ring-1 ring-azul text-azul font-medium focus:ring-4 focus:ring-white rounded-lg px-5 py-2.5 text-center hover:bg-azul hover:text-white">Registrar usuario</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- formulario para recuperar clave -->
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0 hidden" id="recuperacion-clave">
            <div class="py-4 rounded-lg ring-1 ring-azul shadow-2xl shadow-black">
                <p class="text-2xl text-center font-bold text-white p-4">Recuperación de clave</p>
                <form class="p-4" method="post" id="formulario-rc">
                    <div class="grid gap-6 mb-6 grid-cols-1 md:grid-cols-3">
                        <div>
                            <div class="text-center py-4 p-6 space-x-2 rounded-b">
                                <img src="../resources/img/logo-circulo.png" alt="img">
                                <br>
                            </div>
                            <!--ID-->
                            <input class="hidden" type="number" id="id" name="id">
                        </div>
                        <div class="grid gap-6 mb-6 md:grid-cols-2 md:col-start-2 md:col-end-4">
                            <!--Input nombre de de usuario-->
                            <div>
                                <label for="nombre"
                                    class="block mb-2 text-sm font-medium text-white">Nombre
                                    del usuario:</label>
                                <input type="text" id="nombre" name="nombre"
                                    class="bg-gray-900 border border-white text-white sm:text-sm rounded-lg focus:ring-azul focus:border-azul block w-full p-2.5"
                                    placeholder="Ingrese nombre de usuario" required autocomplete="off">
                            </div>
                            <!--Input pin del usuario-->
                            <!-- <div>
                                <label for="pin"
                                    class="block mb-2 text-sm font-medium text-white">Pin:</label>
                                <input type="number" id="pin" name="pin"
                                    class="bg-gray-900 border border-white text-white sm:text-sm rounded-lg focus:ring-azul focus:border-azul block w-full p-2.5"
                                    placeholder="Pin" required autocomplete="off">
                            </div> -->
                            <!--Input palabra clave del usuario-->
                            <div>
                                <label for="palabra"
                                    class="block mb-2 text-sm font-medium text-white">Palabra:</label>
                                <input type="password" id="palabra" name="palabra"
                                    class="bg-gray-900 border border-white text-white sm:text-sm rounded-lg focus:ring-azul focus:border-azul block w-full p-2.5"
                                    placeholder="Plabra clave" required autocomplete="off">
                            </div>
                            <!--Input contraseña del usuario-->
                            <div>
                                <label for="clave"
                                    class="block mb-2 text-sm font-medium text-white">Contraseña:</label>
                                <input type="password" id="clave" name="clave"
                                    class="bg-gray-900 border border-white text-white sm:text-sm rounded-lg focus:ring-azul focus:border-azul block w-full p-2.5"
                                    placeholder="Ingrese la contraseña" required autocomplete="off">
                            </div>
                            <!--Input contraseña del usuario-->
                            <div>
                                <label for="confirmar"
                                    class="block mb-2 text-sm font-medium text-white">Confirmar
                                    contraseña:</label>
                                <input type="password" id="confirmar" name="confirmar"
                                    class="bg-gray-900 border border-white text-white sm:text-sm rounded-lg focus:ring-azul focus:border-azul block w-full p-2.5"
                                    placeholder="Ingrese la contraseña" required autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit"
                        class="w-auto ring-1 ring-azul text-azul font-medium focus:ring-4 focus:ring-white rounded-lg px-5 py-2.5 text-center hover:bg-azul hover:text-white">Ingresar credenciales</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- formulario para cambiar contrasenia por dias  -->
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0 hidden" id="cambiar-clv">
            <div class="py-4 rounded-lg ring-1 ring-azul shadow-2xl shadow-black">
                <p class="text-2xl text-center font-bold text-white p-4">Cambio de clave obligatorio</p>
                <form class="p-4" method="post" id="formulario-psw">
                    <div class="grid gap-6 mb-6 grid-cols-1 md:grid-cols-3">
                        <div>
                            <div class="text-center py-4 p-6 space-x-2 rounded-b">
                                <img src="../resources/img/logo-circulo.png" alt="img">
                                <br>
                            </div>
                            <!--ID-->
                        </div>
                        <div class="grid gap-6 mb-6 md:grid-cols-2 md:col-start-2 md:col-end-4">
                            <div>
                                <label for="claved"
                                    class="block mb-2 text-sm font-medium text-white">Contraseña actual:</label>
                                <input type="password" id="claved" name="claved"
                                    class="bg-gray-900 border border-white text-white sm:text-sm rounded-lg focus:ring-azul focus:border-azul block w-full p-2.5"
                                    placeholder="Ingrese su contraseña actual" required autocomplete="off">
                            </div>
                            <!--Input contraseña del usuario-->
                            <div>
                                <label for="clave"
                                    class="block mb-2 text-sm font-medium text-white">Contraseña nueva:</label>
                                <input type="password" id="clave" name="clave"
                                    class="bg-gray-900 border border-white text-white sm:text-sm rounded-lg focus:ring-azul focus:border-azul block w-full p-2.5"
                                    placeholder="Ingrese contraseña nueva" required autocomplete="off">
                            </div>
                            <!--Input contraseña del usuario-->
                            <div>
                                <label for="confirmar"
                                    class="block mb-2 text-sm font-medium text-white">Confirmar
                                    contraseña:</label>
                                <input type="password" id="confirmar" name="confirmar"
                                    class="bg-gray-900 border border-white text-white sm:text-sm rounded-lg focus:ring-azul focus:border-azul block w-full p-2.5"
                                    placeholder="Confirme su nueva contraseña" required autocomplete="off">
                            </div>
                            <!--Input del empleado asignado al usuario-->
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit"
                        class="w-auto ring-1 ring-azul text-azul font-medium focus:ring-4 focus:ring-white rounded-lg px-5 py-2.5 text-center hover:bg-azul hover:text-white">Cambiar clave</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <footer></footer>
    <!-- importación del archivo js de la libreria flowbite -->
    <script type="text/javascript" src="../node_modules/flowbite/dist/flowbite.min.js"></script>
    <script type="text/javascript" src="../resources/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../controllers/components.js"></script>
    <script type="text/javascript" src="../controllers/account.js"></script>
    <script type="text/javascript" src="../controllers/index.js"></script>
</body>

</html>