<!doctype html>
<!-- definición del lengauje del sitio -->
<html lang="es">

<head>
  <!-- definición del set de carácteres -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- importación de archivos css -->
  <link href="/resources/css/daniel.css" rel="stylesheet">
  <link href="/resources/css/styles.css" rel="stylesheet">
  <!-- titulo de la página -->
  <title>Import Cars</title>
  <!-- icono de la página -->
  <link rel="icon" href="/resources/img/logo.png">
</head>

<body>
  <main>
    <section>
      <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <!-- logo de la empresa -->
        <img src="/resources/img/lcr.png" alt="logo">
        <!-- caja de contenido -->
        <div
          class="w-full rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700" id="fondo">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <h1
              class="text-center text-azul-oscuro text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
              Iniciar sesión en el sistema
            </h1>
            <form class="space-y-4 md:space-y-6" action="#">
              <!-- textbox para ingresar usuario -->
              <div>
                <label for="user" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Usuario</label>
                <input type="text" name="user" id="user"
                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Ingrese su usuario" required="">
              </div>
              <!-- textbox para ingresar contraseña -->
              <div>
                <label for="password"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contraseña</label>
                <input type="password" name="password" id="password" placeholder="Ingrese su Contraseña"
                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  required="">
              </div>
              <div class="flex items-center justify-between">
                <!-- checkbox para recordar sesión -->
                <div class="flex items-start">
                  <div class="flex items-center h-5">
                    <input id="remember" aria-describedby="remember" type="checkbox"
                      class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800"
                      required="">
                  </div>
                  <div class="ml-3 text-sm">
                    <label for="remember" class="text-black dark:text-gray-300">Recuerdame</label>
                  </div>
                </div>
                <!-- Acceder a recuperación de clave -->
                <a href="#"
                  class="text-sm font-medium text-primary-600 hover:underline dark:text-primary-500">¿Olvidaste tu
                  contraseña?</a>
              </div>
              <!-- boton -->
              <button type="submit"
                class="w-full text-white bg-azul hover:bg-oscuro focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Ingresar</button>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>

  <!-- importación del archivo js de la libreria flowbite -->
  <script src="/node_modules/flowbite/dist/flowbite.min.js"></script>
</body>

</html>