<!doctype html>
<html lang="es">

<head>
    <!-- definición del set de carácteres -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- importación de archivos css -->
    <link href="../resources/css/tailwind.css" rel="stylesheet" />
    <link href="../resources/css/menu.css" rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
    <!-- titulo de la página -->
    <title>Perfil de usuario</title>
    <!-- icono de la página -->
    <link rel="icon" href="../resources/img/logo.png">
</head>

<body class="bg-gray-900">
    <!-- encabezado del sistio -->
    <header></header>
    <!-- contenido del sitio -->
    <main class="grid md:grid-cols-3 font-medium items-center justify-center mt-5 mb-5">
        <!-- carta para perfil del usaruio -->
        <div class="mx-auto border border-white rounded-2xl px-8 py-6 shadow-lg">
            <div class="flex items-center justify-between">
                <span class="text-white text-sm">Cargo en la empresa</span>
            </div>
            <div class="mt-6 w-fit mx-auto">
                <img class="rounded-full ring-2 ring-oscuro" src="../resources/img/perfil.jpg"
                    class="rounded-full w-28 " alt="profile picture" srcset="">
            </div>

            <div class="mt-8">
                <h2 class="text-white font-bold text-2xl tracking-wide">Jonathan Smith</h2>
            </div>
            <hr class="mb-1">
            <button
                class="w-auto ring-1 ring-azul text-azul font-medium focus:ring-4 focus:ring-white rounded-lg px-5 py-2.5 text-center hover:bg-azul hover:text-white">Cambiar
                clave</button>
            <button
                class="w-auto ring-1 ring-azul text-azul font-medium focus:ring-4 focus:ring-white rounded-lg px-5 py-2.5 text-center hover:bg-azul hover:text-white">Verificación</button>
        </div>

        <form class="grid col-span-2 m-5">
            <div class="mb-6">
                <label for="nombre" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre
                    completo</label>
                <input type="text" id="nombre"
                    class="bg-white border border-gray-300 text-black text-sm rounded-lg focus:ring-azul focus:border-azul block w-full p-2.5"
                    placeholder="Ingrese su nombre completo" required>
            </div>
            <div class="grid gap-6 mb-12 md:grid-cols-2">
                <div>
                    <label for="telefono"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Teléfono</label>
                    <input type="text" id="telefono"
                        class="bg-white border border-gray-300 text-black text-sm rounded-lg focus:ring-azul focus:border-azul block w-full p-2.5"
                        placeholder="Ingrese su teléfono" required>
                </div>
                <div>
                    <label for="correo"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Correo</label>
                    <input type="email" id="correo"
                        class="bg-white border border-gray-300 text-black text-sm rounded-lg focus:ring-azul focus:border-azul block w-full p-2.5"
                        placeholder="Ingrese su correo" required>
                </div>
                <div>
                    <label for="tipo-documento" class="block mb-2 text-sm font-medium text-gray-900">Tipo de
                        documento</label>
                    <select id="tipo-documento"
                        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-azul focus:border-azul block w-full p-2.5">
                        <option selected>Seleccione el tipo de documento</option>
                        <option value="dui">DUI</option>
                        <option value="pa">Pasaporte</option>
                        <option value="nit">NIT</option>
                    </select>
                </div>
                <div>
                    <label for="documento"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Documento</label>
                    <input type="text" id="documento"
                        class="bg-white border border-gray-300 text-black text-sm rounded-lg focus:ring-azul focus:border-azul block w-full p-2.5"
                        placeholder="Ingrese su documento" required>
                </div>
                <div>
                    <div class="flex">
                        <div class="flex items-center h-5">
                            <input id="helper-checkbox" aria-describedby="helper-checkbox-text" id="verificacion" name="verificacion" type="checkbox"
                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        </div>
                        <div class="ml-2 text-sm">
                            <label for="helper-checkbox" class="text-white">Verificación de dos factores</label>
                        </div>
                    </div>

                </div>
        </form>
    </main>
    <!-- pie del sitio -->
    <footer></footer>

    <script type="text/javascript" src="../node_modules/flowbite/dist/flowbite.min.js"></script>
    <script type="text/javascript" src="../resources/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../controllers/components.js"></script>
    <script type="text/javascript" src="../controllers/account.js"></script>
    <script type="text/javascript" src="../controllers/perfil.js"></script>
</body>

</html>