<!DOCTYPE html>
<!-- definición del lengauje del sitio -->
<html lang="es">

<head>
    <!-- definición del set de carácteres -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- importación de archivos css -->
    <link href="../resources/css/tailwind.css" rel="stylesheet">
    <link href="../resources/css/menu.css" rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
    <!-- icono de la página -->
    <link rel="icon" href="../resources/img/logo.png">
    <!-- titulo de la página -->
    <title>Productos</title>
</head>

<body>
    <!-- encabezado del sistio -->
    <header></header>
    <!-- contenido del sitio -->
    <main>
        <div class="py-4">
            <div>
                <div class="py-4 text-center">
                    <h1 class="text-xl text-rojo font-bold">Productos</h1>
                    <p class="text-azul font-medium">Gestion del inventario donde se registran los productos y se
                        detalla la información de cada uno de ellos.</p>
                </div>
                <div class="grid grid-cols-4 gap-4 py-4">
                    <div class="col-start-2 col-end-4">
                        <form method="post" id="buscarFormulario">
                            <label for="default-search"
                                class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Buscar</label>
                            <div class="relative">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none"
                                        stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                                    </svg>
                                </div>
                                <input type="search" id="default-search"
                                    class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="Buscar..." required>
                                <button type="submit"
                                    class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Confirmar</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-end-5">
                        <button onclick="crearRegistro()"
                            class="block md:w-auto text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                            type="button">
                            <img src="https://img.icons8.com/ios/30/FFFFFF/add--v1.png" />
                        </button>
                    </div>
                </div>
            </div>
            <div id="abrirModal" tabindex="-1"
                class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
                <div class="relative w-full h-full max-w-4xl">
                    <!-- Contenido del modal -->
                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                        <!-- Encabezado de modal -->
                        <div class="flex items-center justify-between p-5 border-b rounded-t dark:border-gray-600">
                            <h3 id="titulo" class="text-xl font-bold text-oscuro dark:text-white">
                            </h3>
                            <button onclick="ABRIR_MODAL.hide()" type="button"
                                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
                                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                <span class="sr-only">Cerrar ventana</span>
                            </button>
                        </div>
                        <!-- Modal body -->
                        <form method="post" class="p-4" id="ejecutarFormulario">
                            <!-- Formulario para crear un producto -->
                            <div class="grid gap-6 mb-6 grid-cols-1 md:grid-cols-3">
                                <div>
                                    <!-- Ingresar imagen -->
                                    <div class="text-center py-4 p-6 space-x-2 border-t border-gray-200 rounded-b">
                                        <!-- <img src="../resources/img/logo.jpg" alt="img">
                                        <br>
                                        <button  type="button"
                                            class="text-center text-white bg-blue-800 hover:bg-blue-900 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Insertar
                                            imagen</button> -->
                                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                            for="file_input">Upload file</label>
                                        <input
                                            class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                                            aria-describedby="file_input_help" id="archivo" type="file" name="archivo">
                                        <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">
                                            SVG, PNG, JPG or GIF (MAX. 800x400px).</p>
                                    </div>
                                    <!--ID-->
                                    <input class="hidden" type="number" id="id" name="id">
                                </div>
                                <div class="grid gap-6 mb-6 md:grid-cols-2 md:col-start-2 md:col-end-4">
                                    <!--Input nombre del producto-->
                                    <div>
                                        <label for="nombre"
                                            class="block mb-2 text-sm font-semibold text-azul dark:text-white">Nombre
                                            del producto:</label>
                                        <input type="text" id="nombre" name="nombre"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                            placeholder="Nombre" required>
                                    </div>
                                    <!--Input precio del producto-->
                                    <div>
                                        <label for="precio"
                                            class="block mb-2 text-sm font-semibold text-azul dark:text-white">Precio:</label>
                                        <input type="number" id="precio" name="precio"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                            placeholder="Precio" required>
                                    </div>
                                    <!--Input codigo-->
                                    <div>
                                        <label for="codigo"
                                            class="block mb-2 text-sm font-semibold text-azul dark:text-white">Nomenclatura
                                            - Código:</label>
                                        <input type="text" list="datalistOptions"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                            placeholder="Seleccione una nomenclatura o código">
                                        <datalist id="datalistOptions">
                                            <option id="codigo" name="codigo"></option>
                                        </datalist>
                                    </div>
                                    <!--Input proveedor-->
                                    <div>
                                        <label for="proveedor"
                                            class="block mb-2 text-sm font-semibold text-azul dark:text-white">Proveedor:</label>
                                        <select id="proveedor" name="proveedor"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                        </select>
                                    </div>
                                    <!--Input categoria-->
                                    <div>
                                        <label for="categoria"
                                            class="block mb-2 text-sm font-semibold text-azul dark:text-white">Categoria:</label>
                                        <select id="categoria" name="categoria"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                        </select>
                                    </div>
                                    <!--Input modelo-->
                                    <div>
                                        <label for="modelo"
                                            class="block mb-2 text-sm font-semibold text-azul dark:text-white">Modelo:</label>
                                        <select id="modelo" name="modelo"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                        </select>
                                    </div>
                                    <!--Input pais de origen-->
                                    <div>
                                        <label for="paisorigen"
                                            class="block mb-2 text-sm font-semibold text-azul dark:text-white">Pais de
                                            origen:</label>
                                        <select id="paisorigen" name="paisorigen"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                        </select>
                                    </div>
                                    <!--Input estado-->
                                    <div>
                                        <label for="estado"
                                            class="block mb-2 text-sm font-semibold text-azul dark:text-white">Estado
                                            del producto:</label>
                                        <select id="estado" name="estado"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                        </select>
                                    </div>
                                    <!--Tipo de producto-->
                                    <div>
                                        <label for="tipo"
                                            class="block mb-2 text-sm font-semibold text-azul dark:text-white">Tipo:</label>
                                        <select id="tipo" name="tipo"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                        </select>
                                    </div>
                                    <!--Area de texto Descipcion-->
                                    <div class="col-start-1 col-end-3">
                                        <label for="descripcion"
                                            class="block mb-2 text-sm font-semibold text-azul dark:text-white">Descripción</label>
                                        <textarea id="descripcion" name="descripcion" rows="4"
                                            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                            placeholder="Descripción del producto..."></textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal footer -->
                            <div
                                class="text-right items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                                <button id="accion" type="submit"
                                    class="text-white bg-green-800 hover:bg-green-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!--Final del modal-->

            <!-- tabla -->
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <!-- Datos que contendra la tabla -->
                    <thead
                        class="text-center text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr class="text-oscuro font-semibold">
                            <th scope="col" class="px-6 py-3">
                                Imagen
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Producto
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Codigo - nomenclatura
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Descripción
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Precio
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Proveedor
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Categoria
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Modelo
                            </th>
                            <th scope="col" class="px-8 py-3">
                                <span class="">Controles</span>
                            </th>
                        </tr>
                    </thead>
                    <!-- Filas de la tabla -->
                    <tbody id="registrosTabla"></tbody>
                </table>
            </div>
        </div>
    </main>
    <!-- pie del sitio -->
    <footer
        class="2xl:sticky bottom-0 left-0 right-0 p-4 bg-azul shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800">
        <!-- nombre del sistema -->
        <span class="text-white text-2xl">Import Cars</span>
        <!-- lista de enlaces -->
        <ul class="flex flex-wrap items-center mt-3 text-sm text-white dark:text-gray-400 sm:mt-0">
            <li>
                <a href="https://www.instagram.com/dnlhernandez_/" class="mr-4 hover:underline md:mr-6 "
                    target="_blank">About</a>
            </li>
            <li>
                <a href="https://www.instagram.com/dnlhernandez_/" class="mr-4 hover:underline md:mr-6"
                    target="_blank">Privacy Policy</a>
            </li>
            <li>
                <a href="https://www.instagram.com/dnlhernandez_/" class="mr-4 hover:underline md:mr-6"
                    target="_blank">Licensing</a>
            </li>
            <li>
                <a href="https://www.instagram.com/dnlhernandez_/" class="hover:underline" target="_blank">Contact</a>
            </li>
        </ul>
    </footer>

    <!-- Importacion de archivos JavaScript -->
    <script src="../node_modules/flowbite/dist/flowbite.min.js"></script>
    <script src="../resources/JS/sweetalert.min.js"></script>
    <script src="../controllers/components.js"></script>
    <script src="../controllers/account.js"></script>
    <script src="../controllers/productos.js"></script>
</body>

</html>