<!DOCTYPE html>
<html lang="es">

<head>
    <!-- definición del set de carácteres -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- importación de archivos css -->
    <link href="../resources/css/tailwind.css" rel="stylesheet">
    <link href="../resources/css/styles.css" rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
    <!-- icono de la página -->
    <link rel="icon" href="../resources/img/logo.png">
    <!-- titulo de la página -->
    <title>Cargos</title>
</head>

<body>
    <!-- encabezado del sistio -->
    <header></header>
    <!-- contenido del sitio -->
    <main>
        <div class="py-4">
            <div>
                <div class="py-4 text-center">
                    <h1 class="text-xl text-rojo font-bold">Cargos o Niveles de los usuarios</h1>
                    <p class="text-azul font-medium">Apartado para gestionar los permisos de los distintos cargos de la
                        empresa para permitir o denegar el acceso a las interfaces dependiendo del cargo.</p>
                </div>
                <div class="grid grid-cols-4 gap-4 py-4">
                    <div class="col-start-2 col-end-4">
                        <form method="post" id="buscarFormulario">
                            <label for="search"
                                class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Buscar</label>
                            <div class="relative">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none"
                                        stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                                    </svg>
                                </div>
                                <input type="search" id="buscar" name="buscar"
                                    class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="Buscar...">
                                <button type="submit"
                                    class="hidden text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Confirmar</button>
                            </div>
                        </form>
                    </div>
                    <!-- <div class="col-end-5">
                        <button onclick="crearRegistro()"
                            class="block md:w-auto text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                            type="button">
                            <img src="https://img.icons8.com/ios/30/FFFFFF/add--v1.png" />
                        </button>
                    </div> -->
                </div>
            </div>
            <div id="abrirModal" tabindex="-1"
                class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
                <div class="relative w-full h-full max-w-4xl">
                    <!-- Modal content -->
                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                        <!-- Modal header -->
                        <div class="flex items-center justify-between p-5 border-b rounded-t dark:border-gray-600">
                            <h3 id="titulo" class="text-xl font-bold text-oscuro dark:text-white">
                            </h3>
                            <button onclick="ABRIR_MODAL.hide()" type="button"
                                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
                                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                <span class="sr-only">Cerrar ventana</span>
                            </button>
                        </div>
                        <!-- Modal body -->
                        <form class="p-4" method="post" id="ejecutarFormulario">
                            <div class="grid gap-6 mb-6 md:grid-cols-3 md:col-start-2 md:col-end-4">
                                <div class="text-center py-4 p-6 space-x-2 border-t border-gray-200 rounded-b">
                                    <img src="../resources/img/logo.jpg" alt="img">
                                    <br>
                                </div>
                                <div class="grid gap-6 mb-6 md:grid-cols-2 md:col-start-2 md:col-end-4">
                                    <!--Input del ID-->
                                    <div>
                                        <label for="id"
                                            class="block mb-2 text-sm font-semibold text-azul dark:text-white">ID</label>
                                        <input type="number" id="id" name="id"
                                            class="disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700"
                                            placeholder="ID" readonly>
                                    </div>
                                    <!--Input del cargo o nivel de usuario-->
                                    <div>
                                        <label for="cargo"
                                            class="block mb-2 text-sm font-semibold text-azul dark:text-white">Cargo</label>
                                        <input type="text" id="cargo" name="cargo"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                            placeholder="Ingrese el nombre del tipo de producto" readonly>
                                    </div>
                                    <!--Checkbox para darle permisos de marcas-->
                                    <div>
                                        <div
                                            class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700">
                                            <input type="checkbox" value="" id="marca" name="marca"
                                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                            <label for="marca"
                                                class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Marcas</label>
                                        </div>
                                    </div>
                                    <!--Checkbox para darle permisos de paises de origen-->
                                    <div>
                                        <div
                                            class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700">
                                            <input type="checkbox" value="" id="paisOrigen" name="paisOrigen"
                                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                            <label for="paisOrigen"
                                                class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Paises
                                                de Origen</label>
                                        </div>
                                    </div>
                                    <!--Checkbox para darle permisos de monedas-->
                                    <div>
                                        <div
                                            class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700">
                                            <input type="checkbox" value="" id="moneda" name="moneda"
                                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                            <label for="moneda"
                                                class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Monedas</label>
                                        </div>
                                    </div>
                                    <!--Checkbox para darle permisos de familias-->
                                    <div>
                                        <div
                                            class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700">
                                            <input type="checkbox" value="" id="familia" name="familia"
                                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                            <label for="familia"
                                                class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Familias</label>
                                        </div>
                                    </div>
                                    <!--Checkbox para darle permisos de categorias-->
                                    <div>
                                        <div
                                            class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700">
                                            <input type="checkbox" value="" id="categoria" name="categoria"
                                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                            <label for="categoria"
                                                class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Categorias</label>
                                        </div>
                                    </div>
                                    <!--Checkbox para darle permisos de codigos comunes-->
                                    <div>
                                        <div
                                            class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700">
                                            <input type="checkbox" value="" id="codigoComun" name="codigoComun"
                                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                            <label for="codigoComun"
                                                class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Coóigos
                                                Comunes</label>
                                        </div>
                                    </div>
                                    <!--Checkbox para darle permisos de tiposproductos-->
                                    <div>
                                        <div
                                            class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700">
                                            <input type="checkbox" value="" id="tipoProducto" name="tipoProducto"
                                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                            <label for="tipoProducto"
                                                class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Tipos
                                                de Productos</label>
                                        </div>
                                    </div>
                                    <!--Checkbox para darle permisos de codigos de transacciones-->
                                    <div>
                                        <div
                                            class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700">
                                            <input type="checkbox" value="" id="codigoTransac" name="codigoTransac"
                                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                            <label for="codigoTransac"
                                                class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Codigos
                                                de Transacciones</label>
                                        </div>
                                    </div>
                                </div>
                                <!--Checkbox para darle permisos de codigos de plazos-->
                                <div>
                                    <div
                                        class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700">
                                        <input type="checkbox" value="" id="codigoPlazo" name="codigoPlazo"
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="codigoPlazo"
                                            class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Codigos
                                            de Plazos</label>
                                    </div>
                                </div>
                                <!--Checkbox para darle permisos de sucursales-->
                                <div>
                                    <div
                                        class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700">
                                        <input type="checkbox" value="" id="sucursal" name="sucursal"
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="sucursal"
                                            class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Sucursales</label>
                                    </div>
                                </div>
                                <!--Checkbox para darle permisos de plazos-->
                                <div>
                                    <div
                                        class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700">
                                        <input type="checkbox" value="" id="plazo" name="plazo"
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="plazo"
                                            class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Plazos</label>
                                    </div>
                                </div>
                                <!--Checkbox para darle permisos de contactos-->
                                <div>
                                    <div
                                        class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700">
                                        <input type="checkbox" value="" id="contacto" name="contacto"
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="contacto"
                                            class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Contactos</label>
                                    </div>
                                </div>
                                <!--Checkbox para darle permisos de parametros-->
                                <div>
                                    <div
                                        class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700">
                                        <input type="checkbox" value="" id="parametro" name="parametro"
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="parametro"
                                            class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Parametros</label>
                                    </div>
                                </div>
                                <!--Checkbox para darle permisos de proveedores-->
                                <div>
                                    <div
                                        class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700">
                                        <input type="checkbox" value="" id="proveedor" name="proveedor"
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="proveedor"
                                            class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Proveedores</label>
                                    </div>
                                </div>
                                <!--Checkbox para darle permisos de modelos-->
                                <div>
                                    <div
                                        class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700">
                                        <input type="checkbox" value="" id="modelo" name="modelo"
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="modelo"
                                            class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Modelos</label>
                                    </div>
                                </div>
                                <!--Checkbox para darle permisos de empleados-->
                                <div>
                                    <div
                                        class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700">
                                        <input type="checkbox" value="" id="empleado" name="empleado"
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="empleado"
                                            class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Empleados</label>
                                    </div>
                                </div>
                                <!--Checkbox para darle permisos de clientes-->
                                <div>
                                    <div
                                        class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700">
                                        <input type="checkbox" value="" id="cliente" name="cliente"
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="cliente"
                                            class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Clientes</label>
                                    </div>
                                </div>
                                <!--Checkbox para darle permisos de usuarios-->
                                <div>
                                    <div
                                        class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700">
                                        <input type="checkbox" value="" id="usuario" name="usuario"
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="usuario"
                                            class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Usuarios</label>
                                    </div>
                                </div>
                                <!--Checkbox para darle permisos de cajas-->
                                <div>
                                    <div
                                        class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700">
                                        <input type="checkbox" value="" id="caja" name="caja"
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="caja"
                                            class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Cajas</label>
                                    </div>
                                </div>
                                <!--Checkbox para darle permisos de cajeros-->
                                <div>
                                    <div
                                        class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700">
                                        <input type="checkbox" value="" id="cajero" name="cajero"
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="cajero"
                                            class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Cajeros</label>
                                    </div>
                                </div>
                                <!--Checkbox para darle permisos de vendedores-->
                                <div>
                                    <div
                                        class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700">
                                        <input type="checkbox" value="" id="vendedor" name="vendedor"
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="vendedor"
                                            class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Vendedores</label>
                                    </div>
                                </div>
                                <!--Checkbox para darle permisos de bodegas-->
                                <div>
                                    <div
                                        class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700">
                                        <input type="checkbox" value="" id="bodega" name="bodega"
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="bodega"
                                            class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Bodegas</label>
                                    </div>
                                </div>
                                <!--Checkbox para darle permisos de familiasbodegas-->
                                <div>
                                    <div
                                        class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700">
                                        <input type="checkbox" value="" id="familiaBod" name="familiaBod"
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="familiaBod"
                                            class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Familias
                                            Bodegas</label>
                                    </div>
                                </div>
                                <!--Checkbox para darle permisos de productos-->
                                <div>
                                    <div
                                        class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700">
                                        <input type="checkbox" value="" id="producto" name="producto"
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="producto"
                                            class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Productos</label>
                                    </div>
                                </div>
                                <!--Checkbox para darle permisos de encabezados de transacciones-->
                                <div>
                                    <div
                                        class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700">
                                        <input type="checkbox" value="" id="encaTransac" name="encaTransac"
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="encaTransac"
                                            class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Encabezados
                                            de Transacciones</label>
                                    </div>
                                </div>
                                <!--Checkbox para darle permisos de detalles de transacciones-->
                                <div>
                                    <div
                                        class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700">
                                        <input type="checkbox" value="" id="detalleTransac" name="detalleTransac"
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="detalleTransac"
                                            class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Detalles
                                            de Transacciones</label>
                                    </div>
                                </div>
                                <!--Checkbox para darle permisos de tipos de usuarios-->
                                <div>
                                    <div
                                        class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700">
                                        <input type="checkbox" value="" id="tipoUsuario" name="tipoUsuario"
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="tipoUsuario"
                                            class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">tipos
                                            de Usuarios</label>
                                    </div>
                                </div>
                                <!--Checkbox para darle permisos de bitacoras-->
                                <div>
                                    <div
                                        class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700">
                                        <input type="checkbox" value="" id="bitacora" name="bitacora"
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="bitacora"
                                            class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Bitácoras</label>
                                    </div>
                                </div>
                                <!--Checkbox para darle permisos de inventario-->
                                <div>
                                    <div
                                        class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700">
                                        <input type="checkbox" value="" id="inventario" name="inventario"
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="inventario"
                                            class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Bitácoras</label>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="text-right items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                                <button id="accion" type="submit"
                                    class="text-white bg-green-800 hover:bg-green-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!--Final del modal-->
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead
                        class="text-center text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr class="text-oscuro font-semibold">
                            <th scope="col" class="hidden px-6 py-3">
                                ID
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Cargo
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Marcas
                            </th>
                            <th scope="col" class="px-6 py-3">
                                paises de Origen
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Monedas
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Familias
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Categorias
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Codigos Comunes
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Tipos de Productos
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Codigos de Transacciones
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Codigos de Plazos
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Sucursales
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Plazos
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Contactos
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Parametros
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Proveedores
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Modelos
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Empleados
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Clientes
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Usuarios
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Cajas
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Cajeros
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Vendedores
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Bodegas
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Familias de Bodegas
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Productos
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Encabezados de Transacciones
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Detalles de Transacciones
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Tipos de Usuarios
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Bitácoras
                            </th>
                            <th scope="col" class="px-6 py-3">
                                inventarios
                            </th>
                            <th scope="col" class="px-8 py-3">
                                <span class="">Controles</span>
                            </th>
                            
                        </tr>
                    </thead>
                    <tbody id="registros"></tbody>
                </table>
            </div>
        </div>
    </main>
    <!-- pie del sitio -->
    <footer></footer>

    <!-- Importacion de archivos JavaScript -->
    <script type="text/javascript" src="../node_modules/flowbite/dist/flowbite.min.js"></script>
    <script type="text/javascript" src="../resources/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../controllers/components.js"></script>
    <script type="text/javascript" src="../controllers/account.js"></script>
    <script type="text/javascript" src="../controllers/tiposUsuarios.js"></script>
</body>

</html>