<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- importación de archivos css -->
    <link href="/resources/css/daniel.css" rel="stylesheet" />
    <link href="/resources/css/menu.css" rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
    <!-- titulo de la página -->
    <title>Perfil de usuario</title>
    <!-- icono de la página -->
    <link rel="icon" href="/resources/img/logo.png">
</head>

<body>
    <header>
        <nav class="sticky top-0 z-10 bg-azul">
            <div class="logo">
                <i class="bx bx-menu menu-icon text-white"></i>
                <span class="logo-name text-white">Import Cars</span>
            </div>

            <div class="sidebar bg-white">
                <div class="logo">
                    <i class="bx bx-menu menu-icon text-black"></i>
                    <span class="logo-name text-black">IMPORT CARS</span>
                </div>
                <div class="sidebar-content">
                    <hr>
                    <ul class="lists">
                        <li class="list">
                            <a href="#" class="nav-link text-gray-600 hover:bg-azul hover:text-white">
                                <i class="bx bx-home-alt icon"></i>
                                <span class="link">Dashboard</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="nav-link text-black text-gray-600 hover:bg-azul hover:text-white">
                                <i class='bx bxl-product-hunt icon'></i>
                                <span class="link">Productos</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="nav-link text-gray-600 hover:bg-azul hover:text-white">
                                <i class='bx bx-bar-chart-alt icon'></i>
                                <span class="link">Procesos</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="nav-link text-gray-600 hover:bg-azul hover:text-white">
                                <i class='bx bxs-report icon'></i>
                                <span class="link">Reportes</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="nav-link text-gray-600 hover:bg-azul hover:text-white">
                                <i class='bx bx-list-plus icon'></i>
                                <span class="link">Consultas</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="nav-link text-gray-600 hover:bg-azul hover:text-white">
                                <i class='bx bxs-briefcase icon'></i>
                                <span class="link">Cierres</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="nav-link text-gray-600 hover:bg-azul hover:text-white">
                                <i class='bx bx-table icon'></i>
                                <span class="link">Tablas</span>
                            </a>
                        </li>
                    </ul>
                    <hr>
                    <div class="bottom-cotent">
                        <li class="list">
                            <a href="#" class="nav-link">
                                <i class="bx bx-cog icon"></i>
                                <span class="link">Configuracion</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="index.html" class="nav-link">
                                <i class="bx bx-log-out icon"></i>
                                <span class="link">Cerrar sesion</span>
                            </a>
                        </li>
                    </div>
                </div>
            </div>
            <div class="absolute inset-y-0 right-0 p-3">
                <img data-tooltip-target="tooltip"
                    class=" w-10 h-10 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500"
                    src="/resources/img/perfil.jpg" alt="Bordered avatar">
            </div>
            <div id="tooltip" role="tooltip"
                class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 border border-azul rounded-lg shadow-sm opacity-0 tooltip">
                Mi perfil
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
        </nav>
    </header>
    <main class="grid md:grid-cols-3 bg-white flex font-medium items-center justify-center">
        <!-- carta para perfil del usaruio -->
        <section class="mx-auto bg-gray-900 rounded-2xl px-8 py-6 shadow-lg">
            <div class="flex items-center justify-between">
                <span class="text-white text-sm">Cargo en la empresa</span>
            </div>
            <div class="mt-6 w-fit mx-auto">
                <img class="rounded-full ring-2 ring-oscuro" src="/resources/img/perfil.jpg" class="rounded-full w-28 "
                    alt="profile picture" srcset="">
            </div>

            <div class="mt-8 ">
                <h2 class="text-white font-bold text-2xl tracking-wide">Jonathan Smith</h2>
            </div>
            <p class="text-emerald-400 font-semibold mt-2.5">
                Ten un lindo dia :)
            </p>
        </section>
        <form class="grid col-span-2">
            <div class="mb-6">
                <label for="nombre" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre
                    completo</label>
                <input type="text" id="nombre"
                    class="bg-white border border-gray-300 text-black text-sm rounded-lg focus:ring-azul focus:border-azul block w-full p-2.5"
                    placeholder="Ingrese su nombre completo" required>
            </div>
            <div class="grid gap-6 mb-12 md:grid-cols-2">
                <div>
                    <label for="telefono"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Teléfono</label>
                    <input type="text" id="telefono"
                        class="bg-white border border-gray-300 text-black text-sm rounded-lg focus:ring-azul focus:border-azul block w-full p-2.5"
                        placeholder="Ingrese su teléfono" required>
                </div>
                <div>
                    <label for="correo"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Correo</label>
                    <input type="email" id="correo"
                        class="bg-white border border-gray-300 text-black text-sm rounded-lg focus:ring-azul focus:border-azul block w-full p-2.5"
                        placeholder="Ingrese su correo" required>
                </div>
                <button id="tipo-documento" data-dropdown-toggle="dropdown"
                    class="text-white bg-azul hover:bg-oscuro focus:ring-4 focus:outline-none focus:ring-azul font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center"
                    type="button">Seleccionar tipo de documento</button>
                <!-- Dropdown menu -->
                <div id="dropdown" class="z-10 hidden bg-oscuro divide-y divide-gray-100 rounded-lg shadow w-44">
                    <ul class="py-2 text-sm text-white" aria-labelledby="tipo-documento">
                        <li>
                            <a href="#" class="block px-4 py-2 hover:bg-azul">Dui</a>
                        </li>
                        <li>
                            <a href="#" class="block px-4 py-2 hover:bg-azul">Dui</a>
                        </li>
                        <li>
                            <a href="#" class="block px-4 py-2 hover:bg-azul">Dui</a>
                        </li>
                        <li>
                            <a href="#" class="block px-4 py-2 hover:bg-azul">Dui</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <label for="documento"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Documento</label>
                    <input type="text" id="documento"
                        class="bg-white border border-gray-300 text-black text-sm rounded-lg focus:ring-azul focus:border-azul block w-full p-2.5"
                        placeholder="Ingrese su documento" required>
                </div>
        </form>
        <hr class="grid col-span-2">
        <form class="grid col-span-2">
            <div class="grid gap-6 mb-12 md:grid-cols-2">
                <div>
                    <label for="usuario" class="block mb-2 text-sm font-medium text-gray-900">Nombre de usuario</label>
                    <input type="text" id="usuario"
                        class="bg-white border border-gray-300 text-black text-sm rounded-lg focus:ring-azul focus:border-azul block w-full p-2.5"
                        placeholder="Ingrese su nombre de usuario" required>
                </div>
                <div>
                    <label for="pin" class="block mb-2 text-sm font-medium text-gray-900">Pin</label>
                    <input type="number" id="telefono"
                        class="bg-white border border-gray-300 text-black text-sm rounded-lg focus:ring-azul focus:border-azul block w-full p-2.5"
                        placeholder="Ingrese su pin" required>
                </div>
                <div>
                    <label for="usuario" class="block mb-2 text-sm font-medium text-gray-900">Clave</label>
                    <input type="password" id="usuario"
                        class="bg-white border border-gray-300 text-black text-sm rounded-lg focus:ring-azul focus:border-azul block w-full p-2.5"
                        placeholder="Ingrese su clave" required>
                </div>
                <div>
                    <label for="pin" class="block mb-2 text-sm font-medium text-gray-900">Confirmación de clave</label>
                    <input type="password" id="telefono"
                        class="bg-white border border-gray-300 text-black text-sm rounded-lg focus:ring-azul focus:border-azul block w-full p-2.5"
                        placeholder="Confirme su clave" required>
                </div>
            </div>
        </form>
        <button type="submit" class="text-white bg-azul hover:bg-oscuro focus:ring-4 focus:outline-none focus:ring-azul font-medium rounded-lg text-sm w-fit sm:w-auto px-5 py-2.5 text-center">Guardar cambios</button>
    </main>
    <footer class="p-4 bg-azul shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800">
        <span class="text-white text-2xl">Import Cars</span>
        <ul class="flex flex-wrap items-center mt-3 text-sm text-white dark:text-gray-400 sm:mt-0">
            <li>
                <a href="https://www.instagram.com/dnlhernandez_/" class="mr-4 hover:underline md:mr-6 "
                    target="_blank">About</a>
            </li>
            <li>
                <a href="https://www.instagram.com/dnlhernandez_/" class="mr-4 hover:underline md:mr-6"
                    target="_blank">Privacy Policy</a>
            </li>
            <li>
                <a href="https://www.instagram.com/dnlhernandez_/" class="mr-4 hover:underline md:mr-6"
                    target="_blank">Licensing</a>
            </li>
            <li>
                <a href="https://www.instagram.com/dnlhernandez_/" class="hover:underline" target="_blank">Contact</a>
            </li>
        </ul>
    </footer>


    <script src="/node_modules/flowbite/dist/flowbite.min.js"></script>
    <script>
        const navBar = document.querySelector("nav"),
            menuBtns = document.querySelectorAll(".menu-icon"),
            overlay = document.querySelector(".overlay");

        menuBtns.forEach((menuBtn) => {
            menuBtn.addEventListener("click", () => {
                navBar.classList.toggle("open");
            });
        });

        overlay.addEventListener("click", () => {
            navBar.classList.remove("open");
        });
    </script>
</body>

</html>