<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/resources/css/daniel.css" rel="stylesheet">
</head>

<body>
    <header></header>
    <main>
        <div class="container">
        </div>
    </main>
    <footer
        class="fixed bottom-0 left-0 z-20 w-full bg-primario p-4 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600">
        <!-- <span class="text-sm text-white sm:text-center dark:text-gray-400">Import Cars</span> -->
        <img class="h-8" src="/resources/img/logo.png" alt="">
        <ul class="flex flex-wrap items-center mt-3 text-sm text-white dark:text-gray-400 sm:mt-0">
            <li>
                <a href="https://www.instagram.com/dnlhernandez_/" class="mr-4 hover:underline md:mr-6 "
                    target="_blank">About</a>
            </li>
            <li>
                <a href="https://www.instagram.com/dnlhernandez_/" class="mr-4 hover:underline md:mr-6"
                    target="_blank">Privacy Policy</a>
            </li>
            <li>
                <a href="https://www.instagram.com/dnlhernandez_/" class="mr-4 hover:underline md:mr-6"
                    target="_blank">Licensing</a>
            </li>
            <li>
                <a href="https://www.instagram.com/dnlhernandez_/" class="hover:underline" target="_blank">Contact</a>
            </li>
        </ul>
    </footer>

    <script src="/node_modules/flowbite/dist/flowbite.min.js"></script>
</body>

</html>